<table class="table table-striped" border="1" style="border: 1px solid #000000; border-collapse: collapse;" cellpadding="4" id="data">
  <thead>
    <tr style='text-align: right;'>      <th>Name</th>
      <th>Buy Order Price</th>
      <th>Sell Order Price</th>
      <th>Profit Margin</th>
      <th>Profit Percentage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Absolute Ender Pearl</td>
      <td>11,690.7</td>
      <td>10,828.0</td>
      <td>862.7</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Acacia Birdhouse</td>
      <td>431,997.6</td>
      <td>330,354.5</td>
      <td>101,643.1</td>
      <td>0.24%</td>
    </tr>
    <tr>
      <td>Amalgamated Crimsonite (Old)</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0%</td>
    </tr>
    <tr>
      <td>Amalgamated Crimsonite</td>
      <td>319,806.0</td>
      <td>238,214.5</td>
      <td>81,591.5</td>
      <td>0.26%</td>
    </tr>
    <tr>
      <td>Amber Material</td>
      <td>1,938,058.1</td>
      <td>1,545,539.6</td>
      <td>392,518.5</td>
      <td>0.2%</td>
    </tr>
    <tr>
      <td>Ancient Claw</td>
      <td>496.8</td>
      <td>185.1</td>
      <td>311.7</td>
      <td>0.63%</td>
    </tr>
    <tr>
      <td>Warped Stone</td>
      <td>4,099,998.8</td>
      <td>516,973.2</td>
      <td>3,583,025.6</td>
      <td>0.87%</td>
    </tr>
    <tr>
      <td>Arachne's Keeper Fragment</td>
      <td>2,825.7</td>
      <td>1,078.7</td>
      <td>1,747.0</td>
      <td>0.62%</td>
    </tr>
    <tr>
      <td>Beating Heart</td>
      <td>148,523.9</td>
      <td>70,816.0</td>
      <td>77,707.9</td>
      <td>0.52%</td>
    </tr>
    <tr>
      <td>Blaze Rod</td>
      <td>46.5</td>
      <td>40.3</td>
      <td>6.2</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Blaze Rod Distillate</td>
      <td>12,883.0</td>
      <td>7,438.9</td>
      <td>5,444.1</td>
      <td>0.42%</td>
    </tr>
    <tr>
      <td>Blaze Wax</td>
      <td>598,999.2</td>
      <td>423,001.4</td>
      <td>175,997.8</td>
      <td>0.29%</td>
    </tr>
    <tr>
      <td>Blessed Bait</td>
      <td>185.0</td>
      <td>88.7</td>
      <td>96.3</td>
      <td>0.52%</td>
    </tr>
    <tr>
      <td>Blessed Fruit</td>
      <td>1,079,710.9</td>
      <td>886,440.9</td>
      <td>193,270.0</td>
      <td>0.18%</td>
    </tr>
    <tr>
      <td>Blue Shark Tooth</td>
      <td>52,199.4</td>
      <td>16,539.3</td>
      <td>35,660.1</td>
      <td>0.68%</td>
    </tr>
    <tr>
      <td>Bone</td>
      <td>2.6</td>
      <td>1.4</td>
      <td>1.2</td>
      <td>0.46%</td>
    </tr>
    <tr>
      <td>Booster Cookie</td>
      <td>3,093,504.4</td>
      <td>3,000,000.9</td>
      <td>93,503.5</td>
      <td>0.03%</td>
    </tr>
    <tr>
      <td>Brown Mushroom</td>
      <td>2.9</td>
      <td>2.6</td>
      <td>0.3</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Bulky Stone</td>
      <td>696,086.9</td>
      <td>355,376.7</td>
      <td>340,710.2</td>
      <td>0.49%</td>
    </tr>
    <tr>
      <td>Cactus</td>
      <td>1.6</td>
      <td>1.0</td>
      <td>0.6</td>
      <td>0.37%</td>
    </tr>
    <tr>
      <td>Candy Corn</td>
      <td>750.0</td>
      <td>9.3</td>
      <td>740.7</td>
      <td>0.99%</td>
    </tr>
    <tr>
      <td>Carrot Bait</td>
      <td>23.8</td>
      <td>13.7</td>
      <td>10.1</td>
      <td>0.42%</td>
    </tr>
    <tr>
      <td>Carrot</td>
      <td>2.4</td>
      <td>1.1</td>
      <td>1.3</td>
      <td>0.54%</td>
    </tr>
    <tr>
      <td>Catalyst</td>
      <td>146,821.5</td>
      <td>120,739.1</td>
      <td>26,082.4</td>
      <td>0.18%</td>
    </tr>
    <tr>
      <td>Tasty Cheese</td>
      <td>7,079.9</td>
      <td>6,510.2</td>
      <td>569.7</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Clay</td>
      <td>3.4</td>
      <td>2.1</td>
      <td>1.3</td>
      <td>0.38%</td>
    </tr>
    <tr>
      <td>Coal</td>
      <td>5.3</td>
      <td>4.4</td>
      <td>0.9</td>
      <td>0.17%</td>
    </tr>
    <tr>
      <td>Cobblestone</td>
      <td>3.3</td>
      <td>2.6</td>
      <td>0.7</td>
      <td>0.21%</td>
    </tr>
    <tr>
      <td>Colossal Experience Bottle</td>
      <td>757,365.9</td>
      <td>728,265.1</td>
      <td>29,100.8</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Compactor</td>
      <td>4,833.8</td>
      <td>3,760.6</td>
      <td>1,073.2</td>
      <td>0.22%</td>
    </tr>
    <tr>
      <td>Concentrated Stone</td>
      <td>983,497.6</td>
      <td>925,004.1</td>
      <td>58,493.5</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Corrupted Bait</td>
      <td>9.5</td>
      <td>6.2</td>
      <td>3.3</td>
      <td>0.35%</td>
    </tr>
    <tr>
      <td>Crude Gabagool</td>
      <td>319.0</td>
      <td>271.3</td>
      <td>47.7</td>
      <td>0.15%</td>
    </tr>
    <tr>
      <td>Gabagool Distillate</td>
      <td>41,502.3</td>
      <td>35,702.9</td>
      <td>5,799.4</td>
      <td>0.14%</td>
    </tr>
    <tr>
      <td>Daedalus Stick</td>
      <td>19,999,998.2</td>
      <td>18,635,001.1</td>
      <td>1,364,997.1</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Dark Bait</td>
      <td>821.9</td>
      <td>634.3</td>
      <td>187.6</td>
      <td>0.23%</td>
    </tr>
    <tr>
      <td>Dark Orb</td>
      <td>589,943.1</td>
      <td>540,654.0</td>
      <td>49,289.1</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Deep Sea Orb</td>
      <td>3,142,549.5</td>
      <td>2,510,551.8</td>
      <td>631,997.7</td>
      <td>0.2%</td>
    </tr>
    <tr>
      <td>Derelict Ashe</td>
      <td>1,141.0</td>
      <td>1,003.1</td>
      <td>137.9</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Diamond</td>
      <td>8.3</td>
      <td>7.8</td>
      <td>0.5</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Diamond Atom</td>
      <td>1,900.1</td>
      <td>169.9</td>
      <td>1,730.2</td>
      <td>0.91%</td>
    </tr>
    <tr>
      <td>Diamonite</td>
      <td>2,000,000.0</td>
      <td>267,880.1</td>
      <td>1,732,119.9</td>
      <td>0.87%</td>
    </tr>
    <tr>
      <td>Dirt Bottle</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0%</td>
    </tr>
    <tr>
      <td>Dragon Claw</td>
      <td>446,395.0</td>
      <td>345,052.3</td>
      <td>101,342.7</td>
      <td>0.23%</td>
    </tr>
    <tr>
      <td>Dragon Horn</td>
      <td>6,658,509.0</td>
      <td>4,702,125.5</td>
      <td>1,956,383.5</td>
      <td>0.29%</td>
    </tr>
    <tr>
      <td>Dragon Scale</td>
      <td>10,361.9</td>
      <td>2,835.6</td>
      <td>7,526.3</td>
      <td>0.73%</td>
    </tr>
    <tr>
      <td>Dwarven Super Compactor</td>
      <td>403,635.1</td>
      <td>300,005.7</td>
      <td>103,629.4</td>
      <td>0.26%</td>
    </tr>
    <tr>
      <td>Eccentric Painting</td>
      <td>9,199,998.2</td>
      <td>8,641,280.7</td>
      <td>558,717.5</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Ectoplasm</td>
      <td>64,797.0</td>
      <td>57,509.1</td>
      <td>7,287.9</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Emerald</td>
      <td>7.6</td>
      <td>5.5</td>
      <td>2.1</td>
      <td>0.28%</td>
    </tr>
    <tr>
      <td>Enchanted Acacia Wood</td>
      <td>951.9</td>
      <td>841.8</td>
      <td>110.1</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Enchanted Ancient Claw</td>
      <td>1,739.5</td>
      <td>1,100.1</td>
      <td>639.4</td>
      <td>0.37%</td>
    </tr>
    <tr>
      <td>Enchanted Baked Potato</td>
      <td>37,999.0</td>
      <td>36,192.1</td>
      <td>1,806.9</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Enchanted Birch Wood</td>
      <td>358.6</td>
      <td>303.0</td>
      <td>55.6</td>
      <td>0.16%</td>
    </tr>
    <tr>
      <td>Enchanted Blaze Powder</td>
      <td>2,213.8</td>
      <td>2,177.9</td>
      <td>35.9</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Enchanted Blaze Rod</td>
      <td>246,059.0</td>
      <td>230,702.9</td>
      <td>15,356.1</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Enchanted Bone</td>
      <td>367.6</td>
      <td>315.5</td>
      <td>52.1</td>
      <td>0.14%</td>
    </tr>
    <tr>
      <td>Enchanted Bone Block</td>
      <td>46,746.0</td>
      <td>8,118.2</td>
      <td>38,627.8</td>
      <td>0.83%</td>
    </tr>
    <tr>
      <td>Enchanted Bread</td>
      <td>81.2</td>
      <td>53.1</td>
      <td>28.1</td>
      <td>0.35%</td>
    </tr>
    <tr>
      <td>Enchanted Brown Mushroom</td>
      <td>699.7</td>
      <td>613.2</td>
      <td>86.5</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Enchanted Cactus</td>
      <td>171,086.5</td>
      <td>149,357.1</td>
      <td>21,729.4</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Enchanted Cactus Green</td>
      <td>1,208.3</td>
      <td>1,040.3</td>
      <td>168.0</td>
      <td>0.14%</td>
    </tr>
    <tr>
      <td>Enchanted Cake</td>
      <td>8,139.3</td>
      <td>3,950.2</td>
      <td>4,189.1</td>
      <td>0.51%</td>
    </tr>
    <tr>
      <td>Enchanted Carrot</td>
      <td>329.2</td>
      <td>309.3</td>
      <td>19.9</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Enchanted Carrot on a Stick</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0%</td>
    </tr>
    <tr>
      <td>Enchanted Carrot on a Stick</td>
      <td>24,582.1</td>
      <td>10,020.6</td>
      <td>14,561.5</td>
      <td>0.59%</td>
    </tr>
    <tr>
      <td>Enchanted Charcoal</td>
      <td>1,016.6</td>
      <td>802.3</td>
      <td>214.3</td>
      <td>0.21%</td>
    </tr>
    <tr>
      <td>Enchanted Clay</td>
      <td>476.0</td>
      <td>470.1</td>
      <td>5.9</td>
      <td>0.01%</td>
    </tr>
    <tr>
      <td>Enchanted Clownfish</td>
      <td>3,198.3</td>
      <td>3,090.3</td>
      <td>108.0</td>
      <td>0.03%</td>
    </tr>
    <tr>
      <td>Enchanted Coal</td>
      <td>868.9</td>
      <td>819.1</td>
      <td>49.8</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Enchanted Block of Coal</td>
      <td>134,514.6</td>
      <td>130,758.1</td>
      <td>3,756.5</td>
      <td>0.03%</td>
    </tr>
    <tr>
      <td>Enchanted Cobblestone</td>
      <td>516.6</td>
      <td>509.3</td>
      <td>7.3</td>
      <td>0.01%</td>
    </tr>
    <tr>
      <td>Enchanted Cocoa Bean</td>
      <td>492.0</td>
      <td>463.1</td>
      <td>28.9</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Enchanted Cooked Fish</td>
      <td>395,998.5</td>
      <td>354,302.9</td>
      <td>41,695.6</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Enchanted Cooked Mutton</td>
      <td>128,170.4</td>
      <td>91,137.2</td>
      <td>37,033.2</td>
      <td>0.29%</td>
    </tr>
    <tr>
      <td>Enchanted Cooked Salmon</td>
      <td>287,333.8</td>
      <td>253,643.8</td>
      <td>33,690.0</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Enchanted Cookie</td>
      <td>68,205.8</td>
      <td>36,233.8</td>
      <td>31,972.0</td>
      <td>0.47%</td>
    </tr>
    <tr>
      <td>Enchanted Dark Oak Wood</td>
      <td>446.7</td>
      <td>404.4</td>
      <td>42.3</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Enchanted Diamond</td>
      <td>1,276.5</td>
      <td>1,272.0</td>
      <td>4.5</td>
      <td>0.0%</td>
    </tr>
    <tr>
      <td>Enchanted Diamond Block</td>
      <td>206,552.5</td>
      <td>201,449.2</td>
      <td>5,103.3</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Enchanted Egg</td>
      <td>1,648.7</td>
      <td>1,482.7</td>
      <td>166.0</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Enchanted Emerald</td>
      <td>1,091.3</td>
      <td>1,000.4</td>
      <td>90.9</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Enchanted Emerald Block</td>
      <td>160,925.4</td>
      <td>152,584.2</td>
      <td>8,341.2</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Enchanted Ender Pearl</td>
      <td>168.0</td>
      <td>141.9</td>
      <td>26.1</td>
      <td>0.16%</td>
    </tr>
    <tr>
      <td>Enchanted End Stone</td>
      <td>736.9</td>
      <td>575.9</td>
      <td>161.0</td>
      <td>0.22%</td>
    </tr>
    <tr>
      <td>Enchanted Eye of Ender</td>
      <td>5,099.6</td>
      <td>4,607.6</td>
      <td>492.0</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Enchanted Feather</td>
      <td>484.6</td>
      <td>456.7</td>
      <td>27.9</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Enchanted Fermented Spider Eye</td>
      <td>63,404.4</td>
      <td>60,293.3</td>
      <td>3,111.1</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Enchanted Firework Rocket</td>
      <td>98,997.4</td>
      <td>74,228.0</td>
      <td>24,769.4</td>
      <td>0.25%</td>
    </tr>
    <tr>
      <td>Enchanted Flint</td>
      <td>2,612.0</td>
      <td>2,510.0</td>
      <td>102.0</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Enchanted Ghast Tear</td>
      <td>266.1</td>
      <td>200.1</td>
      <td>66.0</td>
      <td>0.25%</td>
    </tr>
    <tr>
      <td>Enchanted Glistering Melon</td>
      <td>3,698.4</td>
      <td>1,457.6</td>
      <td>2,240.8</td>
      <td>0.61%</td>
    </tr>
    <tr>
      <td>Enchanted Glowstone</td>
      <td>63,570.5</td>
      <td>59,485.3</td>
      <td>4,085.2</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Enchanted Glowstone Dust</td>
      <td>913.3</td>
      <td>828.0</td>
      <td>85.3</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Enchanted Gold</td>
      <td>655.5</td>
      <td>630.9</td>
      <td>24.6</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Enchanted Golden Carrot</td>
      <td>46,033.0</td>
      <td>43,796.4</td>
      <td>2,236.6</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Enchanted Gold Block</td>
      <td>102,755.2</td>
      <td>100,955.7</td>
      <td>1,799.5</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Enchanted Grilled Pork</td>
      <td>217,890.8</td>
      <td>158,652.5</td>
      <td>59,238.3</td>
      <td>0.27%</td>
    </tr>
    <tr>
      <td>Enchanted Gunpowder</td>
      <td>1,130.0</td>
      <td>1,009.0</td>
      <td>121.0</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Enchanted Hard Stone</td>
      <td>1,652.8</td>
      <td>1,551.3</td>
      <td>101.5</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Enchanted Hay Bale</td>
      <td>4,393.8</td>
      <td>3,989.6</td>
      <td>404.2</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Enchanted Brown Mushroom Block</td>
      <td>4,773.8</td>
      <td>477.2</td>
      <td>4,296.6</td>
      <td>0.9%</td>
    </tr>
    <tr>
      <td>Enchanted Red Mushroom Block</td>
      <td>12,970.5</td>
      <td>8,704.3</td>
      <td>4,266.2</td>
      <td>0.33%</td>
    </tr>
    <tr>
      <td>Enchanted Ice</td>
      <td>630.5</td>
      <td>583.5</td>
      <td>47.0</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Enchanted Ink Sack</td>
      <td>60,694.7</td>
      <td>54,312.8</td>
      <td>6,381.9</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Enchanted Iron</td>
      <td>1,195.3</td>
      <td>1,149.2</td>
      <td>46.1</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Enchanted Iron Block</td>
      <td>196,999.8</td>
      <td>186,059.2</td>
      <td>10,940.6</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Enchanted Jungle Wood</td>
      <td>904.5</td>
      <td>787.5</td>
      <td>117.0</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Enchanted Lapis Lazuli</td>
      <td>569.2</td>
      <td>540.3</td>
      <td>28.9</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Enchanted Lapis Block</td>
      <td>35,987.6</td>
      <td>11,916.8</td>
      <td>24,070.8</td>
      <td>0.67%</td>
    </tr>
    <tr>
      <td>Enchanted Lava Bucket</td>
      <td>279,318.2</td>
      <td>265,226.0</td>
      <td>14,092.2</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Enchanted Leather</td>
      <td>5,696.8</td>
      <td>5,350.1</td>
      <td>346.7</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Enchanted Magma Cream</td>
      <td>1,341.8</td>
      <td>1,239.5</td>
      <td>102.3</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Enchanted Melon</td>
      <td>229.3</td>
      <td>167.6</td>
      <td>61.7</td>
      <td>0.27%</td>
    </tr>
    <tr>
      <td>Enchanted Melon Block</td>
      <td>25,603.4</td>
      <td>25,230.9</td>
      <td>372.5</td>
      <td>0.01%</td>
    </tr>
    <tr>
      <td>Enchanted Mithril</td>
      <td>1,599.0</td>
      <td>1,575.1</td>
      <td>23.9</td>
      <td>0.01%</td>
    </tr>
    <tr>
      <td>Enchanted Mutton</td>
      <td>2,676.0</td>
      <td>2,510.2</td>
      <td>165.8</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Enchanted Mycelium</td>
      <td>9,999.5</td>
      <td>7,969.7</td>
      <td>2,029.8</td>
      <td>0.2%</td>
    </tr>
    <tr>
      <td>Enchanted Mycelium Cube</td>
      <td>284,999.0</td>
      <td>116,576.9</td>
      <td>168,422.1</td>
      <td>0.59%</td>
    </tr>
    <tr>
      <td>Enchanted Netherrack</td>
      <td>447.3</td>
      <td>30.2</td>
      <td>417.1</td>
      <td>0.93%</td>
    </tr>
    <tr>
      <td>Enchanted Nether Wart</td>
      <td>332.0</td>
      <td>316.8</td>
      <td>15.2</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Enchanted Oak Wood</td>
      <td>1,122.0</td>
      <td>1,043.2</td>
      <td>78.8</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Enchanted Obsidian</td>
      <td>2,425.9</td>
      <td>2,410.8</td>
      <td>15.1</td>
      <td>0.01%</td>
    </tr>
    <tr>
      <td>Enchanted Packed Ice</td>
      <td>96,520.7</td>
      <td>92,973.8</td>
      <td>3,546.9</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Enchanted Paper</td>
      <td>464.8</td>
      <td>355.7</td>
      <td>109.1</td>
      <td>0.23%</td>
    </tr>
    <tr>
      <td>Enchanted Pork</td>
      <td>1,550.7</td>
      <td>1,307.1</td>
      <td>243.6</td>
      <td>0.16%</td>
    </tr>
    <tr>
      <td>Enchanted Potato</td>
      <td>267.5</td>
      <td>227.5</td>
      <td>40.0</td>
      <td>0.15%</td>
    </tr>
    <tr>
      <td>Enchanted Prismarine Crystals</td>
      <td>398.7</td>
      <td>383.0</td>
      <td>15.7</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Enchanted Prismarine Shard</td>
      <td>407.5</td>
      <td>389.7</td>
      <td>17.8</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Enchanted Pufferfish</td>
      <td>2,548.9</td>
      <td>2,370.3</td>
      <td>178.6</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Enchanted Pumpkin</td>
      <td>888.0</td>
      <td>796.3</td>
      <td>91.7</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Enchanted Quartz</td>
      <td>1,689.4</td>
      <td>1,609.4</td>
      <td>80.0</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Enchanted Quartz Block</td>
      <td>268,603.7</td>
      <td>261,287.1</td>
      <td>7,316.6</td>
      <td>0.03%</td>
    </tr>
    <tr>
      <td>Enchanted Raw Rabbit</td>
      <td>636.1</td>
      <td>615.4</td>
      <td>20.7</td>
      <td>0.03%</td>
    </tr>
    <tr>
      <td>Enchanted Rabbit Foot</td>
      <td>1,150.1</td>
      <td>1,043.5</td>
      <td>106.6</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Enchanted Rabbit Hide</td>
      <td>15,983.3</td>
      <td>11,172.1</td>
      <td>4,811.2</td>
      <td>0.3%</td>
    </tr>
    <tr>
      <td>Enchanted Raw Beef</td>
      <td>650.9</td>
      <td>584.7</td>
      <td>66.2</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Enchanted Raw Chicken</td>
      <td>690.2</td>
      <td>614.2</td>
      <td>76.0</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Enchanted Raw Fish</td>
      <td>2,683.9</td>
      <td>2,495.6</td>
      <td>188.3</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Enchanted Raw Salmon</td>
      <td>1,671.1</td>
      <td>1,551.5</td>
      <td>119.6</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Enchanted Redstone</td>
      <td>221.8</td>
      <td>211.1</td>
      <td>10.7</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Enchanted Redstone Block</td>
      <td>34,746.6</td>
      <td>31,661.4</td>
      <td>3,085.2</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Enchanted Redstone Lamp</td>
      <td>72,421.0</td>
      <td>50,004.2</td>
      <td>22,416.8</td>
      <td>0.31%</td>
    </tr>
    <tr>
      <td>Enchanted Red Mushroom</td>
      <td>719.8</td>
      <td>628.3</td>
      <td>91.5</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Enchanted Red Sand</td>
      <td>2,043.8</td>
      <td>1,840.8</td>
      <td>203.0</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Enchanted Red Sand Cube</td>
      <td>344,999.4</td>
      <td>243,990.1</td>
      <td>101,009.3</td>
      <td>0.29%</td>
    </tr>
    <tr>
      <td>Enchanted Rotten Flesh</td>
      <td>587.5</td>
      <td>515.2</td>
      <td>72.3</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Enchanted Sand</td>
      <td>607.0</td>
      <td>510.9</td>
      <td>96.1</td>
      <td>0.16%</td>
    </tr>
    <tr>
      <td>Enchanted Seeds</td>
      <td>114.9</td>
      <td>84.3</td>
      <td>30.6</td>
      <td>0.27%</td>
    </tr>
    <tr>
      <td>Enchanted Shark Fin</td>
      <td>54,659.5</td>
      <td>22,917.9</td>
      <td>31,741.6</td>
      <td>0.58%</td>
    </tr>
    <tr>
      <td>Enchanted Slimeball</td>
      <td>3,664.1</td>
      <td>3,434.4</td>
      <td>229.7</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Enchanted Slime Block</td>
      <td>132,368.3</td>
      <td>124,008.7</td>
      <td>8,359.6</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Enchanted Snow Block</td>
      <td>598.6</td>
      <td>592.4</td>
      <td>6.2</td>
      <td>0.01%</td>
    </tr>
    <tr>
      <td>Enchanted Spider Eye</td>
      <td>904.6</td>
      <td>798.9</td>
      <td>105.7</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Enchanted Sponge</td>
      <td>2,709.7</td>
      <td>1,943.3</td>
      <td>766.4</td>
      <td>0.28%</td>
    </tr>
    <tr>
      <td>Enchanted Spruce Wood</td>
      <td>919.3</td>
      <td>794.6</td>
      <td>124.7</td>
      <td>0.14%</td>
    </tr>
    <tr>
      <td>Enchanted String</td>
      <td>999.3</td>
      <td>953.8</td>
      <td>45.5</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Enchanted Sugar</td>
      <td>330.8</td>
      <td>318.3</td>
      <td>12.5</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Enchanted Sugar Cane</td>
      <td>52,127.6</td>
      <td>50,821.3</td>
      <td>1,306.3</td>
      <td>0.03%</td>
    </tr>
    <tr>
      <td>Enchanted Sulphur</td>
      <td>5,417.0</td>
      <td>4,880.4</td>
      <td>536.6</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Enchanted Sulphur Cube</td>
      <td>998,996.7</td>
      <td>812,358.1</td>
      <td>186,638.6</td>
      <td>0.19%</td>
    </tr>
    <tr>
      <td>Enchanted Titanium</td>
      <td>9,819.8</td>
      <td>9,337.3</td>
      <td>482.5</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Enchanted Lily Pad</td>
      <td>20,834.6</td>
      <td>17,202.4</td>
      <td>3,632.2</td>
      <td>0.17%</td>
    </tr>
    <tr>
      <td>Enchanted Wet Sponge</td>
      <td>99,999.7</td>
      <td>77,798.5</td>
      <td>22,201.2</td>
      <td>0.22%</td>
    </tr>
    <tr>
      <td>Ender Monocle</td>
      <td>472.3</td>
      <td>126.2</td>
      <td>346.1</td>
      <td>0.73%</td>
    </tr>
    <tr>
      <td>Ender Pearl</td>
      <td>8.4</td>
      <td>6.2</td>
      <td>2.2</td>
      <td>0.26%</td>
    </tr>
    <tr>
      <td>End Stone</td>
      <td>4.0</td>
      <td>2.8</td>
      <td>1.2</td>
      <td>0.3%</td>
    </tr>
    <tr>
      <td>End Stone Geode</td>
      <td>5,499.8</td>
      <td>3,169.0</td>
      <td>2,330.8</td>
      <td>0.42%</td>
    </tr>
    <tr>
      <td>End Stone Shulker</td>
      <td>93,998.0</td>
      <td>34,389.3</td>
      <td>59,608.7</td>
      <td>0.63%</td>
    </tr>
    <tr>
      <td>Experience Bottle</td>
      <td>40.2</td>
      <td>31.1</td>
      <td>9.1</td>
      <td>0.23%</td>
    </tr>
    <tr>
      <td>Feather</td>
      <td>3.1</td>
      <td>1.7</td>
      <td>1.4</td>
      <td>0.45%</td>
    </tr>
    <tr>
      <td>Fine Amber Gemstone</td>
      <td>25,497.5</td>
      <td>23,800.9</td>
      <td>1,696.6</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Fine Amethyst Gemstone</td>
      <td>24,488.7</td>
      <td>22,395.4</td>
      <td>2,093.3</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Fine Jade Gemstone</td>
      <td>19,369.3</td>
      <td>17,130.1</td>
      <td>2,239.2</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Fine Jasper Gemstone</td>
      <td>41,907.7</td>
      <td>38,889.9</td>
      <td>3,017.8</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Fine Opal Gemstone</td>
      <td>21,311.0</td>
      <td>18,311.0</td>
      <td>3,000.0</td>
      <td>0.14%</td>
    </tr>
    <tr>
      <td>Fine Ruby Gemstone</td>
      <td>20,298.5</td>
      <td>19,138.1</td>
      <td>1,160.4</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Fine Sapphire Gemstone</td>
      <td>19,629.1</td>
      <td>19,146.6</td>
      <td>482.5</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Fine Topaz Gemstone</td>
      <td>27,336.5</td>
      <td>21,379.0</td>
      <td>5,957.5</td>
      <td>0.22%</td>
    </tr>
    <tr>
      <td>Fish Bait</td>
      <td>74.1</td>
      <td>41.9</td>
      <td>32.2</td>
      <td>0.43%</td>
    </tr>
    <tr>
      <td>Flawed Amber Gemstone</td>
      <td>1,652.9</td>
      <td>292.5</td>
      <td>1,360.4</td>
      <td>0.82%</td>
    </tr>
    <tr>
      <td>Flawed Amethyst Gemstone</td>
      <td>398.9</td>
      <td>250.2</td>
      <td>148.7</td>
      <td>0.37%</td>
    </tr>
    <tr>
      <td>Flawed Jade Gemstone</td>
      <td>241.0</td>
      <td>237.1</td>
      <td>3.9</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Flawed Jasper Gemstone</td>
      <td>595.3</td>
      <td>444.3</td>
      <td>151.0</td>
      <td>0.25%</td>
    </tr>
    <tr>
      <td>Flawed Opal Gemstone</td>
      <td>244.2</td>
      <td>223.4</td>
      <td>20.8</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Flawed Ruby Gemstone</td>
      <td>274.2</td>
      <td>241.9</td>
      <td>32.3</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Flawed Sapphire Gemstone</td>
      <td>308.8</td>
      <td>235.0</td>
      <td>73.8</td>
      <td>0.24%</td>
    </tr>
    <tr>
      <td>Flawed Topaz Gemstone</td>
      <td>583.4</td>
      <td>221.2</td>
      <td>362.2</td>
      <td>0.62%</td>
    </tr>
    <tr>
      <td>Flawless Amber Gemstone</td>
      <td>2,340,000.0</td>
      <td>1,877,755.4</td>
      <td>462,244.6</td>
      <td>0.2%</td>
    </tr>
    <tr>
      <td>Flawless Amethyst Gemstone</td>
      <td>1,911,072.0</td>
      <td>1,807,633.8</td>
      <td>103,438.2</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Flawless Jade Gemstone</td>
      <td>1,598,865.4</td>
      <td>1,499,329.7</td>
      <td>99,535.7</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Flawless Jasper Gemstone</td>
      <td>3,629,410.4</td>
      <td>3,304,589.2</td>
      <td>324,821.2</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Flawless Opal Gemstone</td>
      <td>1,747,744.3</td>
      <td>1,380,429.4</td>
      <td>367,314.9</td>
      <td>0.21%</td>
    </tr>
    <tr>
      <td>Flawless Ruby Gemstone</td>
      <td>1,756,450.1</td>
      <td>1,656,098.6</td>
      <td>100,351.5</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Flawless Sapphire Gemstone</td>
      <td>1,949,999.1</td>
      <td>1,458,339.3</td>
      <td>491,659.8</td>
      <td>0.25%</td>
    </tr>
    <tr>
      <td>Flawless Topaz Gemstone</td>
      <td>1,723,499.9</td>
      <td>1,507,673.0</td>
      <td>215,826.9</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Flint</td>
      <td>15.8</td>
      <td>15.2</td>
      <td>0.6</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Foul Flesh</td>
      <td>25,434.0</td>
      <td>24,876.7</td>
      <td>557.3</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Fuel Gabagool</td>
      <td>18,596.0</td>
      <td>16,412.2</td>
      <td>2,183.8</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Fuming Potato Book</td>
      <td>1,000,396.4</td>
      <td>974,425.1</td>
      <td>25,971.3</td>
      <td>0.03%</td>
    </tr>
    <tr>
      <td>Furball</td>
      <td>780,873.4</td>
      <td>720,000.4</td>
      <td>60,873.0</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Ghast Tear</td>
      <td>37.7</td>
      <td>21.8</td>
      <td>15.9</td>
      <td>0.42%</td>
    </tr>
    <tr>
      <td>Giant Tooth</td>
      <td>399,764.3</td>
      <td>290,226.7</td>
      <td>109,537.6</td>
      <td>0.27%</td>
    </tr>
    <tr>
      <td>Glowstone Dust</td>
      <td>14.0</td>
      <td>13.2</td>
      <td>0.8</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Glowstone Distillate</td>
      <td>8,384.1</td>
      <td>4,498.5</td>
      <td>3,885.6</td>
      <td>0.46%</td>
    </tr>
    <tr>
      <td>Goblin Egg</td>
      <td>3,283.0</td>
      <td>2,865.2</td>
      <td>417.8</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Blue Goblin Egg</td>
      <td>816,334.0</td>
      <td>716,131.3</td>
      <td>100,202.7</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Green Goblin Egg</td>
      <td>5,824.9</td>
      <td>4,587.8</td>
      <td>1,237.1</td>
      <td>0.21%</td>
    </tr>
    <tr>
      <td>Red Goblin Egg</td>
      <td>11,205.7</td>
      <td>9,501.6</td>
      <td>1,704.1</td>
      <td>0.15%</td>
    </tr>
    <tr>
      <td>Yellow Goblin Egg</td>
      <td>105,827.4</td>
      <td>92,339.3</td>
      <td>13,488.1</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Golden Ball</td>
      <td>1,699,999.9</td>
      <td>812,549.6</td>
      <td>887,450.3</td>
      <td>0.52%</td>
    </tr>
    <tr>
      <td>Golden Tooth</td>
      <td>50,605.9</td>
      <td>48,621.2</td>
      <td>1,984.7</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Gold Ingot</td>
      <td>3.9</td>
      <td>3.4</td>
      <td>0.5</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Grand Experience Bottle</td>
      <td>3,713.7</td>
      <td>3,428.3</td>
      <td>285.4</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Gravel</td>
      <td>2.5</td>
      <td>0.7</td>
      <td>1.8</td>
      <td>0.72%</td>
    </tr>
    <tr>
      <td>Great White Shark Tooth</td>
      <td>1,056,758.0</td>
      <td>823,989.7</td>
      <td>232,768.3</td>
      <td>0.22%</td>
    </tr>
    <tr>
      <td>Green Candy</td>
      <td>871.4</td>
      <td>791.9</td>
      <td>79.5</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Green Gift</td>
      <td>11,657.3</td>
      <td>9,330.0</td>
      <td>2,327.3</td>
      <td>0.2%</td>
    </tr>
    <tr>
      <td>Griffin Feather</td>
      <td>59,375.1</td>
      <td>55,188.7</td>
      <td>4,186.4</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Hamster Wheel</td>
      <td>20,777.1</td>
      <td>19,886.5</td>
      <td>890.6</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Hardened Wood</td>
      <td>30,000.0</td>
      <td>11,729.3</td>
      <td>18,270.7</td>
      <td>0.61%</td>
    </tr>
    <tr>
      <td>Hard Stone</td>
      <td>2.9</td>
      <td>2.1</td>
      <td>0.8</td>
      <td>0.28%</td>
    </tr>
    <tr>
      <td>Hay Bale</td>
      <td>35.0</td>
      <td>24.8</td>
      <td>10.2</td>
      <td>0.29%</td>
    </tr>
    <tr>
      <td>Hazmat Enderman</td>
      <td>43,191.7</td>
      <td>23,205.1</td>
      <td>19,986.6</td>
      <td>0.46%</td>
    </tr>
    <tr>
      <td>Heavy Gabagool</td>
      <td>626,697.8</td>
      <td>554,335.2</td>
      <td>72,362.6</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Holy Dragon Fragment</td>
      <td>2,505.7</td>
      <td>2,393.6</td>
      <td>112.1</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Horns of Torment</td>
      <td>1,088,142.8</td>
      <td>780,004.3</td>
      <td>308,138.5</td>
      <td>0.28%</td>
    </tr>
    <tr>
      <td>Hot Bait</td>
      <td>273.1</td>
      <td>191.8</td>
      <td>81.3</td>
      <td>0.3%</td>
    </tr>
    <tr>
      <td>Hot Potato Book</td>
      <td>42,410.4</td>
      <td>38,239.2</td>
      <td>4,171.2</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Hot Stuff</td>
      <td>128,439.4</td>
      <td>76,265.8</td>
      <td>52,173.6</td>
      <td>0.41%</td>
    </tr>
    <tr>
      <td>Brown Mushroom Block</td>
      <td>6.8</td>
      <td>2.6</td>
      <td>4.2</td>
      <td>0.62%</td>
    </tr>
    <tr>
      <td>Red Mushroom Block</td>
      <td>22.0</td>
      <td>7.1</td>
      <td>14.9</td>
      <td>0.68%</td>
    </tr>
    <tr>
      <td>Hypergolic Gabagool</td>
      <td>19,899,998.0</td>
      <td>17,067,666.3</td>
      <td>2,832,331.7</td>
      <td>0.14%</td>
    </tr>
    <tr>
      <td>Hyper Catalyst</td>
      <td>155,348.0</td>
      <td>144,006.0</td>
      <td>11,342.0</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Ice</td>
      <td>6.0</td>
      <td>2.8</td>
      <td>3.2</td>
      <td>0.53%</td>
    </tr>
    <tr>
      <td>Ice Bait</td>
      <td>19.4</td>
      <td>16.8</td>
      <td>2.6</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Inferno Apex</td>
      <td>0.0</td>
      <td>500,000,000.0</td>
      <td>-500,000,000.0</td>
      <td>0%</td>
    </tr>
    <tr>
      <td>Inferno Vertex</td>
      <td>59,999,999.0</td>
      <td>50,000,000.2</td>
      <td>9,999,998.8</td>
      <td>0.17%</td>
    </tr>
    <tr>
      <td>Ink Sac</td>
      <td>769.3</td>
      <td>643.5</td>
      <td>125.8</td>
      <td>0.16%</td>
    </tr>
    <tr>
      <td>Cocoa Beans</td>
      <td>4.0</td>
      <td>2.5</td>
      <td>1.5</td>
      <td>0.38%</td>
    </tr>
    <tr>
      <td>Lapis Lazuli</td>
      <td>3.8</td>
      <td>3.3</td>
      <td>0.5</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Iron Ingot</td>
      <td>7.8</td>
      <td>6.2</td>
      <td>1.6</td>
      <td>0.21%</td>
    </tr>
    <tr>
      <td>Jacob's Ticket</td>
      <td>9,407.3</td>
      <td>8,767.1</td>
      <td>640.2</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Jaderald</td>
      <td>5,882,494.4</td>
      <td>4,919,834.1</td>
      <td>962,660.3</td>
      <td>0.16%</td>
    </tr>
    <tr>
      <td>Blue Jerry Box</td>
      <td>86,233.2</td>
      <td>8,114.2</td>
      <td>78,119.0</td>
      <td>0.91%</td>
    </tr>
    <tr>
      <td>Golden Jerry Box</td>
      <td>1,102,611.9</td>
      <td>929,836.5</td>
      <td>172,775.4</td>
      <td>0.16%</td>
    </tr>
    <tr>
      <td>Green Jerry Box</td>
      <td>66,986.5</td>
      <td>57,325.6</td>
      <td>9,660.9</td>
      <td>0.14%</td>
    </tr>
    <tr>
      <td>Purple Jerry Box</td>
      <td>374,749.1</td>
      <td>315,736.3</td>
      <td>59,012.8</td>
      <td>0.16%</td>
    </tr>
    <tr>
      <td>Jerry Stone</td>
      <td>46,206.7</td>
      <td>6,630.2</td>
      <td>39,576.5</td>
      <td>0.86%</td>
    </tr>
    <tr>
      <td>Kuudra Mandible</td>
      <td>0.0</td>
      <td>6,700,000.0</td>
      <td>-6,700,000.0</td>
      <td>0%</td>
    </tr>
    <tr>
      <td>Lapis Crystal</td>
      <td>94.9</td>
      <td>4.0</td>
      <td>90.9</td>
      <td>0.96%</td>
    </tr>
    <tr>
      <td>Leather</td>
      <td>24.5</td>
      <td>19.3</td>
      <td>5.2</td>
      <td>0.21%</td>
    </tr>
    <tr>
      <td>Light Bait</td>
      <td>114.8</td>
      <td>32.7</td>
      <td>82.1</td>
      <td>0.72%</td>
    </tr>
    <tr>
      <td>Oak Wood</td>
      <td>6.5</td>
      <td>6.0</td>
      <td>0.5</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Spruce Wood</td>
      <td>6.0</td>
      <td>4.2</td>
      <td>1.8</td>
      <td>0.3%</td>
    </tr>
    <tr>
      <td>Birch Wood</td>
      <td>2.4</td>
      <td>1.6</td>
      <td>0.8</td>
      <td>0.33%</td>
    </tr>
    <tr>
      <td>Jungle Wood</td>
      <td>6.9</td>
      <td>4.3</td>
      <td>2.6</td>
      <td>0.38%</td>
    </tr>
    <tr>
      <td>Acacia Wood</td>
      <td>5.9</td>
      <td>4.2</td>
      <td>1.7</td>
      <td>0.29%</td>
    </tr>
    <tr>
      <td>Dark Oak Wood</td>
      <td>2.6</td>
      <td>1.4</td>
      <td>1.2</td>
      <td>0.46%</td>
    </tr>
    <tr>
      <td>Lucky Dice</td>
      <td>1,336,998.6</td>
      <td>1,016,851.9</td>
      <td>320,146.7</td>
      <td>0.24%</td>
    </tr>
    <tr>
      <td>Luxurious Spool</td>
      <td>724,639.3</td>
      <td>650,316.6</td>
      <td>74,322.7</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Magma Bucket</td>
      <td>1,984,860.0</td>
      <td>1,858,975.7</td>
      <td>125,884.3</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Magma Cream</td>
      <td>7.9</td>
      <td>5.3</td>
      <td>2.6</td>
      <td>0.33%</td>
    </tr>
    <tr>
      <td>Magma Cream Distillate</td>
      <td>8,671.8</td>
      <td>4,999.2</td>
      <td>3,672.6</td>
      <td>0.42%</td>
    </tr>
    <tr>
      <td>Magmafish</td>
      <td>158.8</td>
      <td>141.1</td>
      <td>17.7</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Diamond Magmafish</td>
      <td>12,087,992.8</td>
      <td>8,200,002.0</td>
      <td>3,887,990.8</td>
      <td>0.32%</td>
    </tr>
    <tr>
      <td>Gold Magmafish</td>
      <td>1,117,988.1</td>
      <td>936,365.1</td>
      <td>181,623.0</td>
      <td>0.16%</td>
    </tr>
    <tr>
      <td>Silver Magmafish</td>
      <td>14,134.6</td>
      <td>12,542.6</td>
      <td>1,592.0</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Magma Urchin</td>
      <td>2,045,119.1</td>
      <td>1,806,273.3</td>
      <td>238,845.8</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Mandraa</td>
      <td>0.0</td>
      <td>3,768,074.2</td>
      <td>-3,768,074.2</td>
      <td>0%</td>
    </tr>
    <tr>
      <td>Melon</td>
      <td>2.1</td>
      <td>1.1</td>
      <td>1.0</td>
      <td>0.48%</td>
    </tr>
    <tr>
      <td>Melon</td>
      <td>27.1</td>
      <td>16.9</td>
      <td>10.2</td>
      <td>0.38%</td>
    </tr>
    <tr>
      <td>Meteor Shard</td>
      <td>1,076,133.5</td>
      <td>702,333.3</td>
      <td>373,800.2</td>
      <td>0.35%</td>
    </tr>
    <tr>
      <td>Midas Jewel</td>
      <td>15,193.2</td>
      <td>3,044.1</td>
      <td>12,149.1</td>
      <td>0.8%</td>
    </tr>
    <tr>
      <td>Minnow Bait</td>
      <td>11.0</td>
      <td>5.9</td>
      <td>5.1</td>
      <td>0.46%</td>
    </tr>
    <tr>
      <td>Mithril</td>
      <td>12.8</td>
      <td>8.8</td>
      <td>4.0</td>
      <td>0.31%</td>
    </tr>
    <tr>
      <td>Moil Log</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0%</td>
    </tr>
    <tr>
      <td>Molten Cube</td>
      <td>1,114.9</td>
      <td>102.6</td>
      <td>1,012.3</td>
      <td>0.91%</td>
    </tr>
    <tr>
      <td>Molten Powder</td>
      <td>490,958.5</td>
      <td>410,002.3</td>
      <td>80,956.2</td>
      <td>0.16%</td>
    </tr>
    <tr>
      <td>Mutant Nether Wart</td>
      <td>52,551.9</td>
      <td>50,595.3</td>
      <td>1,956.6</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Mutton</td>
      <td>35.0</td>
      <td>27.0</td>
      <td>8.0</td>
      <td>0.23%</td>
    </tr>
    <tr>
      <td>Mycelium</td>
      <td>57.3</td>
      <td>46.1</td>
      <td>11.2</td>
      <td>0.2%</td>
    </tr>
    <tr>
      <td>Necromancer's Brooch</td>
      <td>28,273.8</td>
      <td>18,003.9</td>
      <td>10,269.9</td>
      <td>0.36%</td>
    </tr>
    <tr>
      <td>Netherrack</td>
      <td>1.4</td>
      <td>1.1</td>
      <td>0.3</td>
      <td>0.21%</td>
    </tr>
    <tr>
      <td>Nether Wart</td>
      <td>5.0</td>
      <td>4.2</td>
      <td>0.8</td>
      <td>0.16%</td>
    </tr>
    <tr>
      <td>Nether Wart Distillate</td>
      <td>10,443.2</td>
      <td>6,328.9</td>
      <td>4,114.3</td>
      <td>0.39%</td>
    </tr>
    <tr>
      <td>Null Atom</td>
      <td>40,906.3</td>
      <td>32,601.8</td>
      <td>8,304.5</td>
      <td>0.2%</td>
    </tr>
    <tr>
      <td>Null Ovoid</td>
      <td>132,256.3</td>
      <td>128,402.4</td>
      <td>3,853.9</td>
      <td>0.03%</td>
    </tr>
    <tr>
      <td>Null Sphere</td>
      <td>396.1</td>
      <td>360.7</td>
      <td>35.4</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Nurse Shark Tooth</td>
      <td>1,240.9</td>
      <td>559.1</td>
      <td>681.8</td>
      <td>0.55%</td>
    </tr>
    <tr>
      <td>Obsidian</td>
      <td>15.4</td>
      <td>14.1</td>
      <td>1.3</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Obsidian Tablet</td>
      <td>1,545,516.7</td>
      <td>941,075.7</td>
      <td>604,441.0</td>
      <td>0.39%</td>
    </tr>
    <tr>
      <td>Old Dragon Fragment</td>
      <td>2,845.6</td>
      <td>2,422.9</td>
      <td>422.7</td>
      <td>0.15%</td>
    </tr>
    <tr>
      <td>Omega Enchanted Egg</td>
      <td>1,154,583.5</td>
      <td>895,977.9</td>
      <td>258,605.6</td>
      <td>0.22%</td>
    </tr>
    <tr>
      <td>Onyx</td>
      <td>633.6</td>
      <td>45.3</td>
      <td>588.3</td>
      <td>0.93%</td>
    </tr>
    <tr>
      <td>Optical Lens</td>
      <td>982.5</td>
      <td>434.7</td>
      <td>547.8</td>
      <td>0.56%</td>
    </tr>
    <tr>
      <td>Packed Ice</td>
      <td>35.3</td>
      <td>30.1</td>
      <td>5.2</td>
      <td>0.15%</td>
    </tr>
    <tr>
      <td>Perfect Amber Gemstone</td>
      <td>10,582,376.5</td>
      <td>9,387,662.1</td>
      <td>1,194,714.4</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Perfect Amethyst Gemstone</td>
      <td>8,140,518.9</td>
      <td>7,902,734.2</td>
      <td>237,784.7</td>
      <td>0.03%</td>
    </tr>
    <tr>
      <td>Perfect Jade Gemstone</td>
      <td>9,659,973.7</td>
      <td>9,299,869.8</td>
      <td>360,103.9</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Perfect Jasper Gemstone</td>
      <td>5,901,937.5</td>
      <td>5,799,527.0</td>
      <td>102,410.5</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Perfect Opal Gemstone</td>
      <td>8,260,936.8</td>
      <td>7,528,988.5</td>
      <td>731,948.3</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Perfect Ruby Gemstone</td>
      <td>5,711,859.8</td>
      <td>4,101,168.8</td>
      <td>1,610,691.0</td>
      <td>0.28%</td>
    </tr>
    <tr>
      <td>Perfect Sapphire Gemstone</td>
      <td>9,199,998.0</td>
      <td>8,550,003.0</td>
      <td>649,995.0</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Perfect Topaz Gemstone</td>
      <td>9,952,422.2</td>
      <td>9,541,076.9</td>
      <td>411,345.3</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Petrified Starfall</td>
      <td>145,135.0</td>
      <td>81,022.4</td>
      <td>64,112.6</td>
      <td>0.44%</td>
    </tr>
    <tr>
      <td>Plasma Bucket</td>
      <td>5,199,999.3</td>
      <td>4,906,616.0</td>
      <td>293,383.3</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Polished Pumpkin</td>
      <td>137,041.9</td>
      <td>129,143.2</td>
      <td>7,898.7</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Raw Porkchop</td>
      <td>20.5</td>
      <td>13.5</td>
      <td>7.0</td>
      <td>0.34%</td>
    </tr>
    <tr>
      <td>Potato</td>
      <td>2.9</td>
      <td>1.7</td>
      <td>1.2</td>
      <td>0.41%</td>
    </tr>
    <tr>
      <td>Power Crystal</td>
      <td>319,996.4</td>
      <td>280,001.7</td>
      <td>39,994.7</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Precious Pearl</td>
      <td>682,158.6</td>
      <td>237,546.9</td>
      <td>444,611.7</td>
      <td>0.65%</td>
    </tr>
    <tr>
      <td>Precursor Gear</td>
      <td>622,828.2</td>
      <td>592,473.3</td>
      <td>30,354.9</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Premium Flesh</td>
      <td>30.1</td>
      <td>0.4</td>
      <td>29.7</td>
      <td>0.99%</td>
    </tr>
    <tr>
      <td>Prismarine Crystals</td>
      <td>5.9</td>
      <td>3.6</td>
      <td>2.3</td>
      <td>0.39%</td>
    </tr>
    <tr>
      <td>Prismarine Shard</td>
      <td>4.6</td>
      <td>3.6</td>
      <td>1.0</td>
      <td>0.22%</td>
    </tr>
    <tr>
      <td>Protector Dragon Fragment</td>
      <td>2,961.3</td>
      <td>2,519.2</td>
      <td>442.1</td>
      <td>0.15%</td>
    </tr>
    <tr>
      <td>Pumpkin</td>
      <td>4.2</td>
      <td>3.5</td>
      <td>0.7</td>
      <td>0.17%</td>
    </tr>
    <tr>
      <td>Pumpkin Guts</td>
      <td>44,160.6</td>
      <td>29,510.1</td>
      <td>14,650.5</td>
      <td>0.33%</td>
    </tr>
    <tr>
      <td>Pure Mithril</td>
      <td>524,496.3</td>
      <td>319,003.2</td>
      <td>205,493.1</td>
      <td>0.39%</td>
    </tr>
    <tr>
      <td>Purple Candy</td>
      <td>8,121.6</td>
      <td>7,703.3</td>
      <td>418.3</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Nether Quartz</td>
      <td>13.7</td>
      <td>12.2</td>
      <td>1.5</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Raw Rabbit</td>
      <td>14.0</td>
      <td>9.6</td>
      <td>4.4</td>
      <td>0.31%</td>
    </tr>
    <tr>
      <td>Rabbit's Foot</td>
      <td>17.1</td>
      <td>9.7</td>
      <td>7.4</td>
      <td>0.43%</td>
    </tr>
    <tr>
      <td>Rabbit Hide</td>
      <td>19.9</td>
      <td>15.0</td>
      <td>4.9</td>
      <td>0.25%</td>
    </tr>
    <tr>
      <td>Rare Diamond</td>
      <td>0.8</td>
      <td>0.2</td>
      <td>0.6</td>
      <td>0.75%</td>
    </tr>
    <tr>
      <td>Raw Beef</td>
      <td>4.6</td>
      <td>3.4</td>
      <td>1.2</td>
      <td>0.26%</td>
    </tr>
    <tr>
      <td>Raw Chicken</td>
      <td>6.3</td>
      <td>4.5</td>
      <td>1.8</td>
      <td>0.29%</td>
    </tr>
    <tr>
      <td>Raw Fish</td>
      <td>15.2</td>
      <td>14.3</td>
      <td>0.9</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Raw Salmon</td>
      <td>11.0</td>
      <td>8.2</td>
      <td>2.8</td>
      <td>0.25%</td>
    </tr>
    <tr>
      <td>Clownfish</td>
      <td>19.8</td>
      <td>18.8</td>
      <td>1.0</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Pufferfish</td>
      <td>17.7</td>
      <td>11.9</td>
      <td>5.8</td>
      <td>0.33%</td>
    </tr>
    <tr>
      <td>Raw Soulflow</td>
      <td>96.4</td>
      <td>75.4</td>
      <td>21.0</td>
      <td>0.22%</td>
    </tr>
    <tr>
      <td>Reaper Pepper</td>
      <td>459,999,999.0</td>
      <td>105,000,005.3</td>
      <td>354,999,993.7</td>
      <td>0.77%</td>
    </tr>
    <tr>
      <td>Recombobulator 3000</td>
      <td>5,516,181.0</td>
      <td>5,321,626.7</td>
      <td>194,554.3</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Redstone</td>
      <td>1.5</td>
      <td>0.9</td>
      <td>0.6</td>
      <td>0.4%</td>
    </tr>
    <tr>
      <td>Red Gift</td>
      <td>47,823.7</td>
      <td>45,108.0</td>
      <td>2,715.7</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Red Mushroom</td>
      <td>4.0</td>
      <td>2.3</td>
      <td>1.7</td>
      <td>0.42%</td>
    </tr>
    <tr>
      <td>Red Nose</td>
      <td>5,664.0</td>
      <td>41.2</td>
      <td>5,622.8</td>
      <td>0.99%</td>
    </tr>
    <tr>
      <td>Red Scarf</td>
      <td>295,207.5</td>
      <td>132,847.5</td>
      <td>162,360.0</td>
      <td>0.55%</td>
    </tr>
    <tr>
      <td>Refined Amber</td>
      <td>984,999.9</td>
      <td>850,001.7</td>
      <td>134,998.2</td>
      <td>0.14%</td>
    </tr>
    <tr>
      <td>Refined Diamond</td>
      <td>486,002.6</td>
      <td>429,256.8</td>
      <td>56,745.8</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Refined Mineral</td>
      <td>20,381.5</td>
      <td>14,576.8</td>
      <td>5,804.7</td>
      <td>0.28%</td>
    </tr>
    <tr>
      <td>Refined Mithril</td>
      <td>314,779.3</td>
      <td>303,534.7</td>
      <td>11,244.6</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Refined Titanium</td>
      <td>230,280.3</td>
      <td>211,014.3</td>
      <td>19,266.0</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Revenant Flesh</td>
      <td>6.5</td>
      <td>4.6</td>
      <td>1.9</td>
      <td>0.29%</td>
    </tr>
    <tr>
      <td>Revenant Viscera</td>
      <td>37,300.0</td>
      <td>34,275.7</td>
      <td>3,024.3</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Rock Candy</td>
      <td>60,049.8</td>
      <td>43,741.9</td>
      <td>16,307.9</td>
      <td>0.27%</td>
    </tr>
    <tr>
      <td>Rock Gemstone</td>
      <td>987,970.3</td>
      <td>27,576.1</td>
      <td>960,394.2</td>
      <td>0.97%</td>
    </tr>
    <tr>
      <td>Rotten Flesh</td>
      <td>4.3</td>
      <td>2.6</td>
      <td>1.7</td>
      <td>0.4%</td>
    </tr>
    <tr>
      <td>Rough Amber Gemstone</td>
      <td>4.0</td>
      <td>3.0</td>
      <td>1.0</td>
      <td>0.25%</td>
    </tr>
    <tr>
      <td>Rough Amethyst Gemstone</td>
      <td>2.9</td>
      <td>2.6</td>
      <td>0.3</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Rough Jade Gemstone</td>
      <td>2.9</td>
      <td>2.4</td>
      <td>0.5</td>
      <td>0.17%</td>
    </tr>
    <tr>
      <td>Rough Jasper Gemstone</td>
      <td>7.9</td>
      <td>5.6</td>
      <td>2.3</td>
      <td>0.29%</td>
    </tr>
    <tr>
      <td>Rough Opal Gemstone</td>
      <td>4.5</td>
      <td>2.8</td>
      <td>1.7</td>
      <td>0.38%</td>
    </tr>
    <tr>
      <td>Rough Ruby Gemstone</td>
      <td>3.0</td>
      <td>2.5</td>
      <td>0.5</td>
      <td>0.17%</td>
    </tr>
    <tr>
      <td>Rough Sapphire Gemstone</td>
      <td>3.1</td>
      <td>2.4</td>
      <td>0.7</td>
      <td>0.23%</td>
    </tr>
    <tr>
      <td>Rough Topaz Gemstone</td>
      <td>2.9</td>
      <td>2.5</td>
      <td>0.4</td>
      <td>0.14%</td>
    </tr>
    <tr>
      <td>Sadan's Brooch</td>
      <td>516,097.0</td>
      <td>334,713.5</td>
      <td>181,383.5</td>
      <td>0.35%</td>
    </tr>
    <tr>
      <td>Salmon Opal</td>
      <td>1,909.6</td>
      <td>1,002.5</td>
      <td>907.1</td>
      <td>0.48%</td>
    </tr>
    <tr>
      <td>Sand</td>
      <td>4.3</td>
      <td>2.7</td>
      <td>1.6</td>
      <td>0.37%</td>
    </tr>
    <tr>
      <td>Red Sand</td>
      <td>20.2</td>
      <td>12.1</td>
      <td>8.1</td>
      <td>0.4%</td>
    </tr>
    <tr>
      <td>Scorched Books</td>
      <td>5,839,780.2</td>
      <td>5,140,379.3</td>
      <td>699,400.9</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Searing Stone</td>
      <td>2,255,225.3</td>
      <td>836,241.9</td>
      <td>1,418,983.4</td>
      <td>0.63%</td>
    </tr>
    <tr>
      <td>Seeds</td>
      <td>0.7</td>
      <td>0.5</td>
      <td>0.2</td>
      <td>0.29%</td>
    </tr>
    <tr>
      <td>Shark Bait</td>
      <td>89.8</td>
      <td>50.7</td>
      <td>39.1</td>
      <td>0.44%</td>
    </tr>
    <tr>
      <td>Shark Fin</td>
      <td>2,696.2</td>
      <td>631.8</td>
      <td>2,064.4</td>
      <td>0.77%</td>
    </tr>
    <tr>
      <td>Shiny Prism</td>
      <td>371,578.5</td>
      <td>149,133.7</td>
      <td>222,444.8</td>
      <td>0.6%</td>
    </tr>
    <tr>
      <td>Slimeball</td>
      <td>31.9</td>
      <td>21.0</td>
      <td>10.9</td>
      <td>0.34%</td>
    </tr>
    <tr>
      <td>Sludge Juice</td>
      <td>1,249.3</td>
      <td>1,121.8</td>
      <td>127.5</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Snowball</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>0.3</td>
      <td>0.37%</td>
    </tr>
    <tr>
      <td>Snow Block</td>
      <td>4.7</td>
      <td>3.7</td>
      <td>1.0</td>
      <td>0.21%</td>
    </tr>
    <tr>
      <td>Soulflow</td>
      <td>10,156.1</td>
      <td>9,097.4</td>
      <td>1,058.7</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Soul Fragment</td>
      <td>939,345.8</td>
      <td>904,000.1</td>
      <td>35,345.7</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Soul String</td>
      <td>8,816.6</td>
      <td>8,001.1</td>
      <td>815.5</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Spider Eye</td>
      <td>4.9</td>
      <td>3.3</td>
      <td>1.6</td>
      <td>0.33%</td>
    </tr>
    <tr>
      <td>Spiked Bait</td>
      <td>71.0</td>
      <td>34.4</td>
      <td>36.6</td>
      <td>0.52%</td>
    </tr>
    <tr>
      <td>Spirit Stone</td>
      <td>1,379,997.7</td>
      <td>1,195,093.5</td>
      <td>184,904.2</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Sponge</td>
      <td>51.2</td>
      <td>47.3</td>
      <td>3.9</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Spooky Bait</td>
      <td>39.9</td>
      <td>18.2</td>
      <td>21.7</td>
      <td>0.54%</td>
    </tr>
    <tr>
      <td>Spooky Shard</td>
      <td>3,280.5</td>
      <td>1,813.9</td>
      <td>1,466.6</td>
      <td>0.45%</td>
    </tr>
    <tr>
      <td>Starfall</td>
      <td>1,023.0</td>
      <td>919.4</td>
      <td>103.6</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Stock of Stonks</td>
      <td>473,357.8</td>
      <td>446,616.9</td>
      <td>26,740.9</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>String</td>
      <td>5.3</td>
      <td>4.9</td>
      <td>0.4</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Strong Dragon Fragment</td>
      <td>18,314.7</td>
      <td>15,914.6</td>
      <td>2,400.1</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Sugar Cane</td>
      <td>2.9</td>
      <td>2.1</td>
      <td>0.8</td>
      <td>0.28%</td>
    </tr>
    <tr>
      <td>Gunpowder</td>
      <td>11.1</td>
      <td>8.5</td>
      <td>2.6</td>
      <td>0.23%</td>
    </tr>
    <tr>
      <td>Sulphur</td>
      <td>30.0</td>
      <td>25.4</td>
      <td>4.6</td>
      <td>0.15%</td>
    </tr>
    <tr>
      <td>Summoning Eye</td>
      <td>721,085.4</td>
      <td>686,921.0</td>
      <td>34,164.4</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Superior Dragon Fragment</td>
      <td>115,682.0</td>
      <td>99,458.4</td>
      <td>16,223.6</td>
      <td>0.14%</td>
    </tr>
    <tr>
      <td>Super Compactor 3000</td>
      <td>277,350.6</td>
      <td>262,063.0</td>
      <td>15,287.6</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Super Enchanted Egg</td>
      <td>234,859.4</td>
      <td>220,480.0</td>
      <td>14,379.4</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Suspicious Vial</td>
      <td>27,302.4</td>
      <td>9,504.4</td>
      <td>17,798.0</td>
      <td>0.65%</td>
    </tr>
    <tr>
      <td>Tarantula Silk</td>
      <td>94,420.0</td>
      <td>89,955.2</td>
      <td>4,464.8</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Tarantula Web</td>
      <td>49.2</td>
      <td>36.0</td>
      <td>13.2</td>
      <td>0.27%</td>
    </tr>
    <tr>
      <td>Tiger Shark Tooth</td>
      <td>55,513.1</td>
      <td>43,793.1</td>
      <td>11,720.0</td>
      <td>0.21%</td>
    </tr>
    <tr>
      <td>Tightly-Tied Hay Bale</td>
      <td>657,951.8</td>
      <td>542,764.0</td>
      <td>115,187.8</td>
      <td>0.18%</td>
    </tr>
    <tr>
      <td>Titanic Experience Bottle</td>
      <td>221,415.3</td>
      <td>214,002.6</td>
      <td>7,412.7</td>
      <td>0.03%</td>
    </tr>
    <tr>
      <td>Titanium</td>
      <td>61.0</td>
      <td>48.8</td>
      <td>12.2</td>
      <td>0.2%</td>
    </tr>
    <tr>
      <td>Toil Log</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0%</td>
    </tr>
    <tr>
      <td>Treasurite</td>
      <td>8,991.7</td>
      <td>8,517.4</td>
      <td>474.3</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Unstable Dragon Fragment</td>
      <td>2,564.2</td>
      <td>2,291.2</td>
      <td>273.0</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Vitamin Death</td>
      <td>137,873.8</td>
      <td>68,867.0</td>
      <td>69,006.8</td>
      <td>0.5%</td>
    </tr>
    <tr>
      <td>Lily Pad</td>
      <td>120.0</td>
      <td>103.6</td>
      <td>16.4</td>
      <td>0.14%</td>
    </tr>
    <tr>
      <td>Werewolf Skin</td>
      <td>12,225.2</td>
      <td>11,203.7</td>
      <td>1,021.5</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Whale Bait</td>
      <td>1,390.3</td>
      <td>1,246.6</td>
      <td>143.7</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Wheat</td>
      <td>3.6</td>
      <td>2.4</td>
      <td>1.2</td>
      <td>0.33%</td>
    </tr>
    <tr>
      <td>White Gift</td>
      <td>6,288.1</td>
      <td>5,606.8</td>
      <td>681.3</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Wise Dragon Fragment</td>
      <td>20,578.0</td>
      <td>18,347.4</td>
      <td>2,230.6</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Wither Blood</td>
      <td>2,028,733.1</td>
      <td>1,004,932.4</td>
      <td>1,023,800.7</td>
      <td>0.5%</td>
    </tr>
    <tr>
      <td>Wolf Tooth</td>
      <td>208.3</td>
      <td>203.6</td>
      <td>4.7</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Worm Membrane</td>
      <td>83,569.9</td>
      <td>80,532.3</td>
      <td>3,037.6</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Yoggie</td>
      <td>256.6</td>
      <td>139.9</td>
      <td>116.7</td>
      <td>0.45%</td>
    </tr>
    <tr>
      <td>Young Dragon Fragment</td>
      <td>2,576.3</td>
      <td>2,438.7</td>
      <td>137.6</td>
      <td>0.05%</td>
    </tr>
