<table class="table table-striped" border="1" style="border: 1px solid #000000; border-collapse: collapse;" cellpadding="4" id="data">
  <thead>
    <tr style='text-align: right;'>      <th>Name</th>
      <th>Buy Order Price</th>
      <th>Sell Order Price</th>
      <th>Profit Margin</th>
      <th>Profit Percentage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Absolute Ender Pearl</td>
      <td>11,221.2</td>
      <td>11,047.3</td>
      <td>173.9</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Acacia Birdhouse</td>
      <td>722,221.6</td>
      <td>445,000.7</td>
      <td>277,220.9</td>
      <td>0.38%</td>
    </tr>
    <tr>
      <td>Amalgamated Crimsonite</td>
      <td>307,003.8</td>
      <td>159,510.7</td>
      <td>147,493.1</td>
      <td>0.48%</td>
    </tr>
    <tr>
      <td>Amber Material</td>
      <td>1,291,600.2</td>
      <td>849,428.0</td>
      <td>442,172.2</td>
      <td>0.34%</td>
    </tr>
    <tr>
      <td>Ancient Claw</td>
      <td>205.0</td>
      <td>190.5</td>
      <td>14.5</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Warped Stone</td>
      <td>4,699,999.5</td>
      <td>4,082,879.3</td>
      <td>617,120.2</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Arachne's Keeper Fragment</td>
      <td>1,573.5</td>
      <td>903.0</td>
      <td>670.5</td>
      <td>0.43%</td>
    </tr>
    <tr>
      <td>Beating Heart</td>
      <td>38,848.6</td>
      <td>26,129.7</td>
      <td>12,718.9</td>
      <td>0.33%</td>
    </tr>
    <tr>
      <td>Blaze Rod</td>
      <td>32.9</td>
      <td>28.6</td>
      <td>4.3</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Blaze Rod Distillate</td>
      <td>32,706.7</td>
      <td>17,005.1</td>
      <td>15,701.6</td>
      <td>0.48%</td>
    </tr>
    <tr>
      <td>Blaze Wax</td>
      <td>667,999.4</td>
      <td>396,596.5</td>
      <td>271,402.9</td>
      <td>0.41%</td>
    </tr>
    <tr>
      <td>Blessed Bait</td>
      <td>129.9</td>
      <td>65.9</td>
      <td>64.0</td>
      <td>0.49%</td>
    </tr>
    <tr>
      <td>Blessed Fruit</td>
      <td>1,078,999.9</td>
      <td>886,156.9</td>
      <td>192,843.0</td>
      <td>0.18%</td>
    </tr>
    <tr>
      <td>Blue Shark Tooth</td>
      <td>16,577.5</td>
      <td>159.6</td>
      <td>16,417.9</td>
      <td>0.99%</td>
    </tr>
    <tr>
      <td>Bone</td>
      <td>3.0</td>
      <td>1.9</td>
      <td>1.1</td>
      <td>0.37%</td>
    </tr>
    <tr>
      <td>Booster Cookie</td>
      <td>2,747,972.7</td>
      <td>2,639,439.4</td>
      <td>108,533.3</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Brown Mushroom</td>
      <td>5.6</td>
      <td>2.3</td>
      <td>3.3</td>
      <td>0.59%</td>
    </tr>
    <tr>
      <td>Bulky Stone</td>
      <td>775,392.3</td>
      <td>496,678.7</td>
      <td>278,713.6</td>
      <td>0.36%</td>
    </tr>
    <tr>
      <td>Cactus</td>
      <td>2.2</td>
      <td>0.6</td>
      <td>1.6</td>
      <td>0.73%</td>
    </tr>
    <tr>
      <td>Candy Corn</td>
      <td>2,141.8</td>
      <td>271.4</td>
      <td>1,870.4</td>
      <td>0.87%</td>
    </tr>
    <tr>
      <td>Carrot Bait</td>
      <td>34.5</td>
      <td>23.2</td>
      <td>11.3</td>
      <td>0.33%</td>
    </tr>
    <tr>
      <td>Carrot</td>
      <td>2.7</td>
      <td>0.5</td>
      <td>2.2</td>
      <td>0.81%</td>
    </tr>
    <tr>
      <td>Catalyst</td>
      <td>101,995.6</td>
      <td>97,319.5</td>
      <td>4,676.1</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Tasty Cheese</td>
      <td>7,560.6</td>
      <td>6,156.9</td>
      <td>1,403.7</td>
      <td>0.19%</td>
    </tr>
    <tr>
      <td>Clay</td>
      <td>3.3</td>
      <td>1.6</td>
      <td>1.7</td>
      <td>0.52%</td>
    </tr>
    <tr>
      <td>Coal</td>
      <td>6.9</td>
      <td>4.9</td>
      <td>2.0</td>
      <td>0.29%</td>
    </tr>
    <tr>
      <td>Cobblestone</td>
      <td>1.7</td>
      <td>1.4</td>
      <td>0.3</td>
      <td>0.18%</td>
    </tr>
    <tr>
      <td>Colossal Experience Bottle</td>
      <td>697,807.4</td>
      <td>631,003.0</td>
      <td>66,804.4</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Compactor</td>
      <td>2,695.5</td>
      <td>1,650.7</td>
      <td>1,044.8</td>
      <td>0.39%</td>
    </tr>
    <tr>
      <td>Concentrated Stone</td>
      <td>1,159,999.9</td>
      <td>943,685.8</td>
      <td>216,314.1</td>
      <td>0.19%</td>
    </tr>
    <tr>
      <td>Corrupted Bait</td>
      <td>14.0</td>
      <td>4.3</td>
      <td>9.7</td>
      <td>0.69%</td>
    </tr>
    <tr>
      <td>Crude Gabagool</td>
      <td>308.9</td>
      <td>270.8</td>
      <td>38.1</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Gabagool Distillate</td>
      <td>79,138.9</td>
      <td>61,197.2</td>
      <td>17,941.7</td>
      <td>0.23%</td>
    </tr>
    <tr>
      <td>Daedalus Stick</td>
      <td>21,318,539.1</td>
      <td>20,400,002.9</td>
      <td>918,536.2</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Dark Bait</td>
      <td>950.8</td>
      <td>760.4</td>
      <td>190.4</td>
      <td>0.2%</td>
    </tr>
    <tr>
      <td>Dark Orb</td>
      <td>518,615.4</td>
      <td>425,816.0</td>
      <td>92,799.4</td>
      <td>0.18%</td>
    </tr>
    <tr>
      <td>Deep Sea Orb</td>
      <td>5,499,989.8</td>
      <td>4,629,733.2</td>
      <td>870,256.6</td>
      <td>0.16%</td>
    </tr>
    <tr>
      <td>Derelict Ashe</td>
      <td>1,921.0</td>
      <td>1,667.6</td>
      <td>253.4</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Diamond</td>
      <td>9.0</td>
      <td>7.2</td>
      <td>1.8</td>
      <td>0.2%</td>
    </tr>
    <tr>
      <td>Diamond Atom</td>
      <td>7,528.6</td>
      <td>7.3</td>
      <td>7,521.3</td>
      <td>1.0%</td>
    </tr>
    <tr>
      <td>Diamonite</td>
      <td>1,359,999.4</td>
      <td>524,720.0</td>
      <td>835,279.4</td>
      <td>0.61%</td>
    </tr>
    <tr>
      <td>Dragon Claw</td>
      <td>439,999.5</td>
      <td>208,155.9</td>
      <td>231,843.6</td>
      <td>0.53%</td>
    </tr>
    <tr>
      <td>Dragon Horn</td>
      <td>8,949,999.3</td>
      <td>8,200,000.7</td>
      <td>749,998.6</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Dragon Scale</td>
      <td>26,589.2</td>
      <td>6,000.9</td>
      <td>20,588.3</td>
      <td>0.77%</td>
    </tr>
    <tr>
      <td>Dwarven Super Compactor</td>
      <td>270,925.7</td>
      <td>250,229.3</td>
      <td>20,696.4</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Eccentric Painting</td>
      <td>12,899,999.1</td>
      <td>9,617,223.0</td>
      <td>3,282,776.1</td>
      <td>0.25%</td>
    </tr>
    <tr>
      <td>Ectoplasm</td>
      <td>61,315.7</td>
      <td>56,609.0</td>
      <td>4,706.7</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Emerald</td>
      <td>7.0</td>
      <td>4.1</td>
      <td>2.9</td>
      <td>0.41%</td>
    </tr>
    <tr>
      <td>Enchanted Acacia Wood</td>
      <td>1,273.8</td>
      <td>1,139.2</td>
      <td>134.6</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Enchanted Ancient Claw</td>
      <td>1,922.9</td>
      <td>656.9</td>
      <td>1,266.0</td>
      <td>0.66%</td>
    </tr>
    <tr>
      <td>Enchanted Baked Potato</td>
      <td>42,146.5</td>
      <td>39,829.0</td>
      <td>2,317.5</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Enchanted Birch Wood</td>
      <td>458.3</td>
      <td>354.0</td>
      <td>104.3</td>
      <td>0.23%</td>
    </tr>
    <tr>
      <td>Enchanted Blaze Powder</td>
      <td>2,374.9</td>
      <td>2,073.0</td>
      <td>301.9</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Enchanted Blaze Rod</td>
      <td>350,678.7</td>
      <td>322,156.7</td>
      <td>28,522.0</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Enchanted Bone</td>
      <td>534.1</td>
      <td>465.1</td>
      <td>69.0</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Enchanted Bone Block</td>
      <td>74,499.0</td>
      <td>58,686.7</td>
      <td>15,812.3</td>
      <td>0.21%</td>
    </tr>
    <tr>
      <td>Enchanted Bread</td>
      <td>63.8</td>
      <td>46.8</td>
      <td>17.0</td>
      <td>0.27%</td>
    </tr>
    <tr>
      <td>Enchanted Brown Mushroom</td>
      <td>746.6</td>
      <td>627.1</td>
      <td>119.5</td>
      <td>0.16%</td>
    </tr>
    <tr>
      <td>Enchanted Cactus</td>
      <td>145,230.2</td>
      <td>132,797.4</td>
      <td>12,432.8</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Enchanted Cactus Green</td>
      <td>1,234.3</td>
      <td>1,049.6</td>
      <td>184.7</td>
      <td>0.15%</td>
    </tr>
    <tr>
      <td>Enchanted Cake</td>
      <td>5,625.3</td>
      <td>54.6</td>
      <td>5,570.7</td>
      <td>0.99%</td>
    </tr>
    <tr>
      <td>Enchanted Carrot</td>
      <td>369.8</td>
      <td>334.3</td>
      <td>35.5</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Enchanted Carrot on a Stick</td>
      <td>46,766.7</td>
      <td>5,515.0</td>
      <td>41,251.7</td>
      <td>0.88%</td>
    </tr>
    <tr>
      <td>Enchanted Charcoal</td>
      <td>1,604.3</td>
      <td>1,254.0</td>
      <td>350.3</td>
      <td>0.22%</td>
    </tr>
    <tr>
      <td>Enchanted Clay</td>
      <td>479.8</td>
      <td>469.3</td>
      <td>10.5</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Enchanted Clownfish</td>
      <td>3,234.2</td>
      <td>699.0</td>
      <td>2,535.2</td>
      <td>0.78%</td>
    </tr>
    <tr>
      <td>Enchanted Coal</td>
      <td>1,125.6</td>
      <td>1,017.6</td>
      <td>108.0</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Enchanted Block of Coal</td>
      <td>187,335.7</td>
      <td>171,654.9</td>
      <td>15,680.8</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Enchanted Cobblestone</td>
      <td>281.6</td>
      <td>249.5</td>
      <td>32.1</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Enchanted Cocoa Bean</td>
      <td>484.0</td>
      <td>458.1</td>
      <td>25.9</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Enchanted Cooked Fish</td>
      <td>480,239.6</td>
      <td>401,316.7</td>
      <td>78,922.9</td>
      <td>0.16%</td>
    </tr>
    <tr>
      <td>Enchanted Cooked Mutton</td>
      <td>130,870.0</td>
      <td>117,049.8</td>
      <td>13,820.2</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Enchanted Cooked Salmon</td>
      <td>259,040.5</td>
      <td>250,608.5</td>
      <td>8,432.0</td>
      <td>0.03%</td>
    </tr>
    <tr>
      <td>Enchanted Cookie</td>
      <td>65,177.6</td>
      <td>60,662.9</td>
      <td>4,514.7</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Enchanted Dark Oak Wood</td>
      <td>779.6</td>
      <td>640.5</td>
      <td>139.1</td>
      <td>0.18%</td>
    </tr>
    <tr>
      <td>Enchanted Diamond</td>
      <td>1,374.3</td>
      <td>1,342.5</td>
      <td>31.8</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Enchanted Diamond Block</td>
      <td>206,676.8</td>
      <td>204,028.4</td>
      <td>2,648.4</td>
      <td>0.01%</td>
    </tr>
    <tr>
      <td>Enchanted Egg</td>
      <td>1,679.4</td>
      <td>1,101.8</td>
      <td>577.6</td>
      <td>0.34%</td>
    </tr>
    <tr>
      <td>Enchanted Emerald</td>
      <td>1,082.5</td>
      <td>957.3</td>
      <td>125.2</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Enchanted Emerald Block</td>
      <td>167,224.4</td>
      <td>161,459.5</td>
      <td>5,764.9</td>
      <td>0.03%</td>
    </tr>
    <tr>
      <td>Enchanted Ender Pearl</td>
      <td>177.7</td>
      <td>145.5</td>
      <td>32.2</td>
      <td>0.18%</td>
    </tr>
    <tr>
      <td>Enchanted End Stone</td>
      <td>699.7</td>
      <td>533.6</td>
      <td>166.1</td>
      <td>0.24%</td>
    </tr>
    <tr>
      <td>Enchanted Eye of Ender</td>
      <td>5,022.2</td>
      <td>4,817.6</td>
      <td>204.6</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Enchanted Feather</td>
      <td>1,378.1</td>
      <td>406.5</td>
      <td>971.6</td>
      <td>0.71%</td>
    </tr>
    <tr>
      <td>Enchanted Fermented Spider Eye</td>
      <td>59,923.2</td>
      <td>56,602.8</td>
      <td>3,320.4</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Enchanted Firework Rocket</td>
      <td>116,822.9</td>
      <td>100,046.6</td>
      <td>16,776.3</td>
      <td>0.14%</td>
    </tr>
    <tr>
      <td>Enchanted Flint</td>
      <td>3,908.3</td>
      <td>3,732.7</td>
      <td>175.6</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Enchanted Ghast Tear</td>
      <td>303.2</td>
      <td>242.6</td>
      <td>60.6</td>
      <td>0.2%</td>
    </tr>
    <tr>
      <td>Enchanted Glistering Melon</td>
      <td>19,179.5</td>
      <td>4,077.0</td>
      <td>15,102.5</td>
      <td>0.79%</td>
    </tr>
    <tr>
      <td>Enchanted Glowstone</td>
      <td>64,092.5</td>
      <td>60,473.5</td>
      <td>3,619.0</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Enchanted Glowstone Dust</td>
      <td>748.6</td>
      <td>706.4</td>
      <td>42.2</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Enchanted Gold</td>
      <td>648.3</td>
      <td>633.3</td>
      <td>15.0</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Enchanted Golden Carrot</td>
      <td>49,253.5</td>
      <td>47,402.6</td>
      <td>1,850.9</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Enchanted Gold Block</td>
      <td>105,513.8</td>
      <td>103,036.4</td>
      <td>2,477.4</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Enchanted Grilled Pork</td>
      <td>171,995.9</td>
      <td>158,178.4</td>
      <td>13,817.5</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Enchanted Gunpowder</td>
      <td>1,836.0</td>
      <td>1,481.0</td>
      <td>355.0</td>
      <td>0.19%</td>
    </tr>
    <tr>
      <td>Enchanted Hard Stone</td>
      <td>1,878.8</td>
      <td>1,739.5</td>
      <td>139.3</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Enchanted Hay Bale</td>
      <td>4,114.2</td>
      <td>3,787.5</td>
      <td>326.7</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Enchanted Brown Mushroom Block</td>
      <td>5,997.4</td>
      <td>2,450.9</td>
      <td>3,546.5</td>
      <td>0.59%</td>
    </tr>
    <tr>
      <td>Enchanted Red Mushroom Block</td>
      <td>22,309.8</td>
      <td>10,671.8</td>
      <td>11,638.0</td>
      <td>0.52%</td>
    </tr>
    <tr>
      <td>Enchanted Ice</td>
      <td>719.9</td>
      <td>617.8</td>
      <td>102.1</td>
      <td>0.14%</td>
    </tr>
    <tr>
      <td>Enchanted Ink Sack</td>
      <td>77,106.1</td>
      <td>67,740.6</td>
      <td>9,365.5</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Enchanted Iron</td>
      <td>2,611.6</td>
      <td>2,556.0</td>
      <td>55.6</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Enchanted Iron Block</td>
      <td>418,276.9</td>
      <td>67,502.1</td>
      <td>350,774.8</td>
      <td>0.84%</td>
    </tr>
    <tr>
      <td>Enchanted Jungle Wood</td>
      <td>1,220.7</td>
      <td>1,060.5</td>
      <td>160.2</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Enchanted Lapis Lazuli</td>
      <td>675.1</td>
      <td>662.7</td>
      <td>12.4</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Enchanted Lapis Block</td>
      <td>55,399.8</td>
      <td>52,216.1</td>
      <td>3,183.7</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Enchanted Lava Bucket</td>
      <td>391,764.2</td>
      <td>13,346.5</td>
      <td>378,417.7</td>
      <td>0.97%</td>
    </tr>
    <tr>
      <td>Enchanted Leather</td>
      <td>5,853.7</td>
      <td>5,078.2</td>
      <td>775.5</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Enchanted Magma Cream</td>
      <td>1,378.1</td>
      <td>1,261.7</td>
      <td>116.4</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Enchanted Melon</td>
      <td>224.8</td>
      <td>180.6</td>
      <td>44.2</td>
      <td>0.2%</td>
    </tr>
    <tr>
      <td>Enchanted Melon Block</td>
      <td>25,757.0</td>
      <td>25,087.2</td>
      <td>669.8</td>
      <td>0.03%</td>
    </tr>
    <tr>
      <td>Enchanted Mithril</td>
      <td>1,292.3</td>
      <td>1,261.6</td>
      <td>30.7</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Enchanted Mutton</td>
      <td>2,688.9</td>
      <td>2,498.0</td>
      <td>190.9</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Enchanted Mycelium</td>
      <td>8,199.5</td>
      <td>7,817.4</td>
      <td>382.1</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Enchanted Mycelium Cube</td>
      <td>662,835.6</td>
      <td>607,362.3</td>
      <td>55,473.3</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Enchanted Netherrack</td>
      <td>187.7</td>
      <td>176.0</td>
      <td>11.7</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Enchanted Nether Wart</td>
      <td>368.5</td>
      <td>320.0</td>
      <td>48.5</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Enchanted Oak Wood</td>
      <td>1,004.6</td>
      <td>900.2</td>
      <td>104.4</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Enchanted Obsidian</td>
      <td>2,311.0</td>
      <td>2,208.1</td>
      <td>102.9</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Enchanted Packed Ice</td>
      <td>113,138.6</td>
      <td>103,353.3</td>
      <td>9,785.3</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Enchanted Paper</td>
      <td>507.9</td>
      <td>320.4</td>
      <td>187.5</td>
      <td>0.37%</td>
    </tr>
    <tr>
      <td>Enchanted Pork</td>
      <td>1,331.1</td>
      <td>1,180.9</td>
      <td>150.2</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Enchanted Potato</td>
      <td>278.6</td>
      <td>251.8</td>
      <td>26.8</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Enchanted Prismarine Crystals</td>
      <td>407.0</td>
      <td>332.4</td>
      <td>74.6</td>
      <td>0.18%</td>
    </tr>
    <tr>
      <td>Enchanted Prismarine Shard</td>
      <td>407.7</td>
      <td>390.1</td>
      <td>17.6</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Enchanted Pufferfish</td>
      <td>2,405.5</td>
      <td>2,383.1</td>
      <td>22.4</td>
      <td>0.01%</td>
    </tr>
    <tr>
      <td>Enchanted Pumpkin</td>
      <td>756.8</td>
      <td>711.6</td>
      <td>45.2</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Enchanted Quartz</td>
      <td>1,728.9</td>
      <td>1,632.4</td>
      <td>96.5</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Enchanted Quartz Block</td>
      <td>280,337.5</td>
      <td>276,815.4</td>
      <td>3,522.1</td>
      <td>0.01%</td>
    </tr>
    <tr>
      <td>Enchanted Raw Rabbit</td>
      <td>634.1</td>
      <td>497.3</td>
      <td>136.8</td>
      <td>0.22%</td>
    </tr>
    <tr>
      <td>Enchanted Rabbit Foot</td>
      <td>1,974.0</td>
      <td>1,614.6</td>
      <td>359.4</td>
      <td>0.18%</td>
    </tr>
    <tr>
      <td>Enchanted Rabbit Hide</td>
      <td>17,644.6</td>
      <td>14,101.7</td>
      <td>3,542.9</td>
      <td>0.2%</td>
    </tr>
    <tr>
      <td>Enchanted Raw Beef</td>
      <td>645.5</td>
      <td>575.4</td>
      <td>70.1</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Enchanted Raw Chicken</td>
      <td>662.1</td>
      <td>546.4</td>
      <td>115.7</td>
      <td>0.17%</td>
    </tr>
    <tr>
      <td>Enchanted Raw Fish</td>
      <td>2,585.4</td>
      <td>2,350.9</td>
      <td>234.5</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Enchanted Raw Salmon</td>
      <td>1,624.5</td>
      <td>1,590.4</td>
      <td>34.1</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Enchanted Redstone</td>
      <td>229.4</td>
      <td>210.4</td>
      <td>19.0</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Enchanted Redstone Block</td>
      <td>39,038.7</td>
      <td>35,860.3</td>
      <td>3,178.4</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Enchanted Redstone Lamp</td>
      <td>69,998.7</td>
      <td>55,702.5</td>
      <td>14,296.2</td>
      <td>0.2%</td>
    </tr>
    <tr>
      <td>Enchanted Red Mushroom</td>
      <td>718.4</td>
      <td>602.6</td>
      <td>115.8</td>
      <td>0.16%</td>
    </tr>
    <tr>
      <td>Enchanted Red Sand</td>
      <td>2,390.8</td>
      <td>1,681.0</td>
      <td>709.8</td>
      <td>0.3%</td>
    </tr>
    <tr>
      <td>Enchanted Red Sand Cube</td>
      <td>398,993.6</td>
      <td>306,950.6</td>
      <td>92,043.0</td>
      <td>0.23%</td>
    </tr>
    <tr>
      <td>Enchanted Rotten Flesh</td>
      <td>769.0</td>
      <td>706.3</td>
      <td>62.7</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Enchanted Sand</td>
      <td>883.9</td>
      <td>684.7</td>
      <td>199.2</td>
      <td>0.23%</td>
    </tr>
    <tr>
      <td>Enchanted Seeds</td>
      <td>80.5</td>
      <td>61.5</td>
      <td>19.0</td>
      <td>0.24%</td>
    </tr>
    <tr>
      <td>Enchanted Shark Fin</td>
      <td>33,332.5</td>
      <td>15,000.2</td>
      <td>18,332.3</td>
      <td>0.55%</td>
    </tr>
    <tr>
      <td>Enchanted Slimeball</td>
      <td>3,200.5</td>
      <td>2,906.4</td>
      <td>294.1</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Enchanted Slime Block</td>
      <td>472,999.8</td>
      <td>447,004.7</td>
      <td>25,995.1</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Enchanted Snow Block</td>
      <td>598.9</td>
      <td>589.6</td>
      <td>9.3</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Enchanted Spider Eye</td>
      <td>801.1</td>
      <td>694.5</td>
      <td>106.6</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Enchanted Sponge</td>
      <td>3,797.5</td>
      <td>1,990.4</td>
      <td>1,807.1</td>
      <td>0.48%</td>
    </tr>
    <tr>
      <td>Enchanted Spruce Wood</td>
      <td>930.5</td>
      <td>888.9</td>
      <td>41.6</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Enchanted String</td>
      <td>1,179.8</td>
      <td>1,110.6</td>
      <td>69.2</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Enchanted Sugar</td>
      <td>346.6</td>
      <td>320.0</td>
      <td>26.6</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Enchanted Sugar Cane</td>
      <td>51,523.7</td>
      <td>49,898.3</td>
      <td>1,625.4</td>
      <td>0.03%</td>
    </tr>
    <tr>
      <td>Enchanted Sulphur</td>
      <td>1,595.8</td>
      <td>1,514.2</td>
      <td>81.6</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Enchanted Sulphur Cube</td>
      <td>281,947.1</td>
      <td>245,727.1</td>
      <td>36,220.0</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Enchanted Titanium</td>
      <td>13,448.3</td>
      <td>11,774.1</td>
      <td>1,674.2</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Enchanted Lily Pad</td>
      <td>25,996.1</td>
      <td>20,000.3</td>
      <td>5,995.8</td>
      <td>0.23%</td>
    </tr>
    <tr>
      <td>Enchanted Wet Sponge</td>
      <td>81,364.0</td>
      <td>80,000.1</td>
      <td>1,363.9</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Ender Monocle</td>
      <td>499.9</td>
      <td>26.9</td>
      <td>473.0</td>
      <td>0.95%</td>
    </tr>
    <tr>
      <td>Ender Pearl</td>
      <td>7.0</td>
      <td>6.3</td>
      <td>0.7</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>End Stone</td>
      <td>7.2</td>
      <td>4.7</td>
      <td>2.5</td>
      <td>0.35%</td>
    </tr>
    <tr>
      <td>End Stone Geode</td>
      <td>35,884.1</td>
      <td>3,001.7</td>
      <td>32,882.4</td>
      <td>0.92%</td>
    </tr>
    <tr>
      <td>End Stone Shulker</td>
      <td>124,999.7</td>
      <td>65,000.0</td>
      <td>59,999.7</td>
      <td>0.48%</td>
    </tr>
    <tr>
      <td>Experience Bottle</td>
      <td>40.0</td>
      <td>31.5</td>
      <td>8.5</td>
      <td>0.21%</td>
    </tr>
    <tr>
      <td>Feather</td>
      <td>10.0</td>
      <td>3.2</td>
      <td>6.8</td>
      <td>0.68%</td>
    </tr>
    <tr>
      <td>Fine Amber Gemstone</td>
      <td>22,890.2</td>
      <td>22,000.0</td>
      <td>890.2</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Fine Amethyst Gemstone</td>
      <td>21,549.1</td>
      <td>19,908.8</td>
      <td>1,640.3</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Fine Jade Gemstone</td>
      <td>19,212.0</td>
      <td>18,925.6</td>
      <td>286.4</td>
      <td>0.01%</td>
    </tr>
    <tr>
      <td>Fine Jasper Gemstone</td>
      <td>46,850.8</td>
      <td>43,926.9</td>
      <td>2,923.9</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Fine Opal Gemstone</td>
      <td>25,499.9</td>
      <td>20,027.0</td>
      <td>5,472.9</td>
      <td>0.21%</td>
    </tr>
    <tr>
      <td>Fine Ruby Gemstone</td>
      <td>19,378.0</td>
      <td>18,876.8</td>
      <td>501.2</td>
      <td>0.03%</td>
    </tr>
    <tr>
      <td>Fine Sapphire Gemstone</td>
      <td>19,316.2</td>
      <td>18,922.0</td>
      <td>394.2</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Fine Topaz Gemstone</td>
      <td>20,494.0</td>
      <td>19,632.1</td>
      <td>861.9</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Fish Bait</td>
      <td>89.3</td>
      <td>60.5</td>
      <td>28.8</td>
      <td>0.32%</td>
    </tr>
    <tr>
      <td>Flawed Amber Gemstone</td>
      <td>321.2</td>
      <td>249.9</td>
      <td>71.3</td>
      <td>0.22%</td>
    </tr>
    <tr>
      <td>Flawed Amethyst Gemstone</td>
      <td>280.6</td>
      <td>229.9</td>
      <td>50.7</td>
      <td>0.18%</td>
    </tr>
    <tr>
      <td>Flawed Jade Gemstone</td>
      <td>264.2</td>
      <td>235.8</td>
      <td>28.4</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Flawed Jasper Gemstone</td>
      <td>600.3</td>
      <td>503.0</td>
      <td>97.3</td>
      <td>0.16%</td>
    </tr>
    <tr>
      <td>Flawed Opal Gemstone</td>
      <td>1,900.0</td>
      <td>229.0</td>
      <td>1,671.0</td>
      <td>0.88%</td>
    </tr>
    <tr>
      <td>Flawed Ruby Gemstone</td>
      <td>268.3</td>
      <td>231.6</td>
      <td>36.7</td>
      <td>0.14%</td>
    </tr>
    <tr>
      <td>Flawed Sapphire Gemstone</td>
      <td>275.0</td>
      <td>229.1</td>
      <td>45.9</td>
      <td>0.17%</td>
    </tr>
    <tr>
      <td>Flawed Topaz Gemstone</td>
      <td>455.9</td>
      <td>225.3</td>
      <td>230.6</td>
      <td>0.51%</td>
    </tr>
    <tr>
      <td>Flawless Amber Gemstone</td>
      <td>1,723,529.4</td>
      <td>71,895.0</td>
      <td>1,651,634.4</td>
      <td>0.96%</td>
    </tr>
    <tr>
      <td>Flawless Amethyst Gemstone</td>
      <td>1,902,615.4</td>
      <td>1,654,278.2</td>
      <td>248,337.2</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Flawless Jade Gemstone</td>
      <td>1,441,215.1</td>
      <td>1,386,249.8</td>
      <td>54,965.3</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Flawless Jasper Gemstone</td>
      <td>4,067,436.3</td>
      <td>2,651,092.2</td>
      <td>1,416,344.1</td>
      <td>0.35%</td>
    </tr>
    <tr>
      <td>Flawless Opal Gemstone</td>
      <td>1,915,868.2</td>
      <td>1,725,405.6</td>
      <td>190,462.6</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Flawless Ruby Gemstone</td>
      <td>1,494,806.4</td>
      <td>1,403,879.6</td>
      <td>90,926.8</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Flawless Sapphire Gemstone</td>
      <td>1,509,126.6</td>
      <td>1,389,098.9</td>
      <td>120,027.7</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Flawless Topaz Gemstone</td>
      <td>1,598,934.1</td>
      <td>1,518,676.2</td>
      <td>80,257.9</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Flint</td>
      <td>22.2</td>
      <td>20.9</td>
      <td>1.3</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Foul Flesh</td>
      <td>37,651.0</td>
      <td>34,006.8</td>
      <td>3,644.2</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Fuel Gabagool</td>
      <td>16,760.5</td>
      <td>10,582.1</td>
      <td>6,178.4</td>
      <td>0.37%</td>
    </tr>
    <tr>
      <td>Fuming Potato Book</td>
      <td>1,149,992.8</td>
      <td>1,056,005.8</td>
      <td>93,987.0</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Furball</td>
      <td>1,553,215.4</td>
      <td>1,151,237.6</td>
      <td>401,977.8</td>
      <td>0.26%</td>
    </tr>
    <tr>
      <td>Ghast Tear</td>
      <td>50.0</td>
      <td>27.9</td>
      <td>22.1</td>
      <td>0.44%</td>
    </tr>
    <tr>
      <td>Giant Tooth</td>
      <td>410,405.7</td>
      <td>340,875.5</td>
      <td>69,530.2</td>
      <td>0.17%</td>
    </tr>
    <tr>
      <td>Glowstone Dust</td>
      <td>12.6</td>
      <td>9.3</td>
      <td>3.3</td>
      <td>0.26%</td>
    </tr>
    <tr>
      <td>Glowstone Distillate</td>
      <td>19,454.8</td>
      <td>14,600.3</td>
      <td>4,854.5</td>
      <td>0.25%</td>
    </tr>
    <tr>
      <td>Goblin Egg</td>
      <td>4,646.6</td>
      <td>4,006.2</td>
      <td>640.4</td>
      <td>0.14%</td>
    </tr>
    <tr>
      <td>Blue Goblin Egg</td>
      <td>875,999.5</td>
      <td>850,000.2</td>
      <td>25,999.3</td>
      <td>0.03%</td>
    </tr>
    <tr>
      <td>Green Goblin Egg</td>
      <td>7,947.7</td>
      <td>4,626.5</td>
      <td>3,321.2</td>
      <td>0.42%</td>
    </tr>
    <tr>
      <td>Red Goblin Egg</td>
      <td>6,996.1</td>
      <td>868.9</td>
      <td>6,127.2</td>
      <td>0.88%</td>
    </tr>
    <tr>
      <td>Yellow Goblin Egg</td>
      <td>122,147.6</td>
      <td>98,310.5</td>
      <td>23,837.1</td>
      <td>0.2%</td>
    </tr>
    <tr>
      <td>Golden Ball</td>
      <td>1,192,330.2</td>
      <td>970,000.3</td>
      <td>222,329.9</td>
      <td>0.19%</td>
    </tr>
    <tr>
      <td>Golden Tooth</td>
      <td>86,507.9</td>
      <td>77,150.6</td>
      <td>9,357.3</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Gold Ingot</td>
      <td>4.4</td>
      <td>3.3</td>
      <td>1.1</td>
      <td>0.25%</td>
    </tr>
    <tr>
      <td>Grand Experience Bottle</td>
      <td>4,431.8</td>
      <td>4,123.8</td>
      <td>308.0</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Gravel</td>
      <td>8.2</td>
      <td>2.8</td>
      <td>5.4</td>
      <td>0.66%</td>
    </tr>
    <tr>
      <td>Great White Shark Tooth</td>
      <td>994,991.6</td>
      <td>888,888.0</td>
      <td>106,103.6</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Green Candy</td>
      <td>853.4</td>
      <td>778.6</td>
      <td>74.8</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Green Gift</td>
      <td>9,599.9</td>
      <td>8,600.5</td>
      <td>999.4</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Griffin Feather</td>
      <td>46,711.7</td>
      <td>46,002.9</td>
      <td>708.8</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Hamster Wheel</td>
      <td>26,239.9</td>
      <td>23,755.4</td>
      <td>2,484.5</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Hardened Wood</td>
      <td>23,998.4</td>
      <td>17,000.3</td>
      <td>6,998.1</td>
      <td>0.29%</td>
    </tr>
    <tr>
      <td>Hard Stone</td>
      <td>3.4</td>
      <td>1.8</td>
      <td>1.6</td>
      <td>0.47%</td>
    </tr>
    <tr>
      <td>Hay Bale</td>
      <td>38.0</td>
      <td>24.7</td>
      <td>13.3</td>
      <td>0.35%</td>
    </tr>
    <tr>
      <td>Hazmat Enderman</td>
      <td>50,476.4</td>
      <td>26,663.7</td>
      <td>23,812.7</td>
      <td>0.47%</td>
    </tr>
    <tr>
      <td>Heavy Gabagool</td>
      <td>552,575.3</td>
      <td>464,225.2</td>
      <td>88,350.1</td>
      <td>0.16%</td>
    </tr>
    <tr>
      <td>Holy Dragon Fragment</td>
      <td>2,598.6</td>
      <td>2,329.3</td>
      <td>269.3</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Horns of Torment</td>
      <td>1,149,997.3</td>
      <td>840,420.6</td>
      <td>309,576.7</td>
      <td>0.27%</td>
    </tr>
    <tr>
      <td>Hot Bait</td>
      <td>359.4</td>
      <td>207.1</td>
      <td>152.3</td>
      <td>0.42%</td>
    </tr>
    <tr>
      <td>Hot Potato Book</td>
      <td>43,886.1</td>
      <td>42,745.7</td>
      <td>1,140.4</td>
      <td>0.03%</td>
    </tr>
    <tr>
      <td>Hot Stuff</td>
      <td>102,038.8</td>
      <td>58,200.0</td>
      <td>43,838.8</td>
      <td>0.43%</td>
    </tr>
    <tr>
      <td>Brown Mushroom Block</td>
      <td>8.1</td>
      <td>0.1</td>
      <td>8.0</td>
      <td>0.99%</td>
    </tr>
    <tr>
      <td>Red Mushroom Block</td>
      <td>85.0</td>
      <td>13.4</td>
      <td>71.6</td>
      <td>0.84%</td>
    </tr>
    <tr>
      <td>Hypergolic Gabagool</td>
      <td>17,847,992.9</td>
      <td>16,263,250.7</td>
      <td>1,584,742.2</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Hyper Catalyst</td>
      <td>121,000.0</td>
      <td>112,569.8</td>
      <td>8,430.2</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Ice</td>
      <td>6.0</td>
      <td>3.6</td>
      <td>2.4</td>
      <td>0.4%</td>
    </tr>
    <tr>
      <td>Ice Bait</td>
      <td>16.4</td>
      <td>9.2</td>
      <td>7.2</td>
      <td>0.44%</td>
    </tr>
    <tr>
      <td>Inferno Vertex</td>
      <td>25,499,998.1</td>
      <td>22,767,518.9</td>
      <td>2,732,479.2</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Ink Sac</td>
      <td>878.9</td>
      <td>804.6</td>
      <td>74.3</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Cocoa Beans</td>
      <td>3.7</td>
      <td>2.5</td>
      <td>1.2</td>
      <td>0.32%</td>
    </tr>
    <tr>
      <td>Lapis Lazuli</td>
      <td>4.3</td>
      <td>3.0</td>
      <td>1.3</td>
      <td>0.3%</td>
    </tr>
    <tr>
      <td>Iron Ingot</td>
      <td>19.0</td>
      <td>15.5</td>
      <td>3.5</td>
      <td>0.18%</td>
    </tr>
    <tr>
      <td>Jacob's Ticket</td>
      <td>8,227.1</td>
      <td>7,811.2</td>
      <td>415.9</td>
      <td>0.05%</td>
    </tr>
    <tr>
      <td>Jaderald</td>
      <td>6,114,259.5</td>
      <td>5,417,862.1</td>
      <td>696,397.4</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Blue Jerry Box</td>
      <td>105,579.2</td>
      <td>72,829.7</td>
      <td>32,749.5</td>
      <td>0.31%</td>
    </tr>
    <tr>
      <td>Golden Jerry Box</td>
      <td>1,299,999.6</td>
      <td>1,201,200.0</td>
      <td>98,799.6</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Green Jerry Box</td>
      <td>79,997.9</td>
      <td>71,851.6</td>
      <td>8,146.3</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Purple Jerry Box</td>
      <td>463,994.4</td>
      <td>364,931.2</td>
      <td>99,063.2</td>
      <td>0.21%</td>
    </tr>
    <tr>
      <td>Jerry Stone</td>
      <td>85,121.6</td>
      <td>6,006.3</td>
      <td>79,115.3</td>
      <td>0.93%</td>
    </tr>
    <tr>
      <td>Lapis Crystal</td>
      <td>82.3</td>
      <td>0.7</td>
      <td>81.6</td>
      <td>0.99%</td>
    </tr>
    <tr>
      <td>Leather</td>
      <td>35.0</td>
      <td>27.2</td>
      <td>7.8</td>
      <td>0.22%</td>
    </tr>
    <tr>
      <td>Light Bait</td>
      <td>40.0</td>
      <td>27.9</td>
      <td>12.1</td>
      <td>0.3%</td>
    </tr>
    <tr>
      <td>Oak Wood</td>
      <td>6.9</td>
      <td>5.5</td>
      <td>1.4</td>
      <td>0.2%</td>
    </tr>
    <tr>
      <td>Spruce Wood</td>
      <td>6.0</td>
      <td>4.0</td>
      <td>2.0</td>
      <td>0.33%</td>
    </tr>
    <tr>
      <td>Birch Wood</td>
      <td>3.4</td>
      <td>2.0</td>
      <td>1.4</td>
      <td>0.41%</td>
    </tr>
    <tr>
      <td>Jungle Wood</td>
      <td>8.0</td>
      <td>5.9</td>
      <td>2.1</td>
      <td>0.26%</td>
    </tr>
    <tr>
      <td>Acacia Wood</td>
      <td>6.5</td>
      <td>5.6</td>
      <td>0.9</td>
      <td>0.14%</td>
    </tr>
    <tr>
      <td>Dark Oak Wood</td>
      <td>4.3</td>
      <td>1.1</td>
      <td>3.2</td>
      <td>0.74%</td>
    </tr>
    <tr>
      <td>Lucky Dice</td>
      <td>1,249,981.3</td>
      <td>950,369.9</td>
      <td>299,611.4</td>
      <td>0.24%</td>
    </tr>
    <tr>
      <td>Luxurious Spool</td>
      <td>868,479.0</td>
      <td>764,464.9</td>
      <td>104,014.1</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Magma Bucket</td>
      <td>2,138,679.9</td>
      <td>1,944,257.3</td>
      <td>194,422.6</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Magma Cream</td>
      <td>9.7</td>
      <td>6.9</td>
      <td>2.8</td>
      <td>0.29%</td>
    </tr>
    <tr>
      <td>Magma Cream Distillate</td>
      <td>20,454.8</td>
      <td>10,000.5</td>
      <td>10,454.3</td>
      <td>0.51%</td>
    </tr>
    <tr>
      <td>Magmafish</td>
      <td>236.9</td>
      <td>137.9</td>
      <td>99.0</td>
      <td>0.42%</td>
    </tr>
    <tr>
      <td>Diamond Magmafish</td>
      <td>8,769,999.6</td>
      <td>7,700,002.0</td>
      <td>1,069,997.6</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Gold Magmafish</td>
      <td>629,996.5</td>
      <td>537,610.4</td>
      <td>92,386.1</td>
      <td>0.15%</td>
    </tr>
    <tr>
      <td>Silver Magmafish</td>
      <td>13,824.3</td>
      <td>12,263.9</td>
      <td>1,560.4</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Magma Urchin</td>
      <td>2,569,345.6</td>
      <td>2,246,026.2</td>
      <td>323,319.4</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Melon</td>
      <td>3.5</td>
      <td>1.7</td>
      <td>1.8</td>
      <td>0.51%</td>
    </tr>
    <tr>
      <td>Melon</td>
      <td>52.9</td>
      <td>30.0</td>
      <td>22.9</td>
      <td>0.43%</td>
    </tr>
    <tr>
      <td>Meteor Shard</td>
      <td>3,819,998.5</td>
      <td>1,300,000.9</td>
      <td>2,519,997.6</td>
      <td>0.66%</td>
    </tr>
    <tr>
      <td>Midas Jewel</td>
      <td>14,513.6</td>
      <td>3,203.8</td>
      <td>11,309.8</td>
      <td>0.78%</td>
    </tr>
    <tr>
      <td>Minnow Bait</td>
      <td>37.1</td>
      <td>4.5</td>
      <td>32.6</td>
      <td>0.88%</td>
    </tr>
    <tr>
      <td>Mithril</td>
      <td>7.7</td>
      <td>6.4</td>
      <td>1.3</td>
      <td>0.17%</td>
    </tr>
    <tr>
      <td>Molten Cube</td>
      <td>5,690.4</td>
      <td>120.5</td>
      <td>5,569.9</td>
      <td>0.98%</td>
    </tr>
    <tr>
      <td>Molten Powder</td>
      <td>567,752.7</td>
      <td>453,939.0</td>
      <td>113,813.7</td>
      <td>0.2%</td>
    </tr>
    <tr>
      <td>Mutant Nether Wart</td>
      <td>52,132.6</td>
      <td>51,000.3</td>
      <td>1,132.3</td>
      <td>0.02%</td>
    </tr>
    <tr>
      <td>Mutton</td>
      <td>24.0</td>
      <td>17.2</td>
      <td>6.8</td>
      <td>0.28%</td>
    </tr>
    <tr>
      <td>Mycelium</td>
      <td>56.9</td>
      <td>47.9</td>
      <td>9.0</td>
      <td>0.16%</td>
    </tr>
    <tr>
      <td>Necromancer's Brooch</td>
      <td>41,455.2</td>
      <td>29,890.2</td>
      <td>11,565.0</td>
      <td>0.28%</td>
    </tr>
    <tr>
      <td>Netherrack</td>
      <td>1.5</td>
      <td>0.6</td>
      <td>0.9</td>
      <td>0.6%</td>
    </tr>
    <tr>
      <td>Nether Wart</td>
      <td>6.0</td>
      <td>3.1</td>
      <td>2.9</td>
      <td>0.48%</td>
    </tr>
    <tr>
      <td>Nether Wart Distillate</td>
      <td>21,942.4</td>
      <td>16,703.8</td>
      <td>5,238.6</td>
      <td>0.24%</td>
    </tr>
    <tr>
      <td>Null Atom</td>
      <td>47,331.9</td>
      <td>35,964.6</td>
      <td>11,367.3</td>
      <td>0.24%</td>
    </tr>
    <tr>
      <td>Null Ovoid</td>
      <td>276,993.5</td>
      <td>235,838.8</td>
      <td>41,154.7</td>
      <td>0.15%</td>
    </tr>
    <tr>
      <td>Null Sphere</td>
      <td>1,501.5</td>
      <td>1,195.3</td>
      <td>306.2</td>
      <td>0.2%</td>
    </tr>
    <tr>
      <td>Nurse Shark Tooth</td>
      <td>1,811.2</td>
      <td>567.5</td>
      <td>1,243.7</td>
      <td>0.69%</td>
    </tr>
    <tr>
      <td>Obsidian</td>
      <td>15.7</td>
      <td>13.7</td>
      <td>2.0</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Obsidian Tablet</td>
      <td>1,698,191.4</td>
      <td>1,231,927.4</td>
      <td>466,264.0</td>
      <td>0.27%</td>
    </tr>
    <tr>
      <td>Old Dragon Fragment</td>
      <td>5,070.3</td>
      <td>3,250.9</td>
      <td>1,819.4</td>
      <td>0.36%</td>
    </tr>
    <tr>
      <td>Omega Enchanted Egg</td>
      <td>2,004,710.0</td>
      <td>1,693,101.5</td>
      <td>311,608.5</td>
      <td>0.16%</td>
    </tr>
    <tr>
      <td>Onyx</td>
      <td>5,999.6</td>
      <td>17.2</td>
      <td>5,982.4</td>
      <td>1.0%</td>
    </tr>
    <tr>
      <td>Optical Lens</td>
      <td>809.0</td>
      <td>5.2</td>
      <td>803.8</td>
      <td>0.99%</td>
    </tr>
    <tr>
      <td>Packed Ice</td>
      <td>38.8</td>
      <td>32.9</td>
      <td>5.9</td>
      <td>0.15%</td>
    </tr>
    <tr>
      <td>Perfect Amber Gemstone</td>
      <td>10,099,999.7</td>
      <td>8,900,001.9</td>
      <td>1,199,997.8</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Perfect Amethyst Gemstone</td>
      <td>7,301,626.0</td>
      <td>6,706,818.0</td>
      <td>594,808.0</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Perfect Jade Gemstone</td>
      <td>8,338,840.6</td>
      <td>8,000,000.7</td>
      <td>338,839.9</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Perfect Jasper Gemstone</td>
      <td>5,071,593.4</td>
      <td>4,873,784.0</td>
      <td>197,809.4</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Perfect Opal Gemstone</td>
      <td>11,117,040.0</td>
      <td>9,297,471.5</td>
      <td>1,819,568.5</td>
      <td>0.16%</td>
    </tr>
    <tr>
      <td>Perfect Ruby Gemstone</td>
      <td>6,328,887.8</td>
      <td>4,800,003.9</td>
      <td>1,528,883.9</td>
      <td>0.24%</td>
    </tr>
    <tr>
      <td>Perfect Sapphire Gemstone</td>
      <td>7,377,100.7</td>
      <td>7,085,312.6</td>
      <td>291,788.1</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Perfect Topaz Gemstone</td>
      <td>9,210,902.8</td>
      <td>8,650,003.5</td>
      <td>560,899.3</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Petrified Starfall</td>
      <td>371,674.2</td>
      <td>20,908.2</td>
      <td>350,766.0</td>
      <td>0.94%</td>
    </tr>
    <tr>
      <td>Plasma Bucket</td>
      <td>5,367,141.4</td>
      <td>5,050,001.4</td>
      <td>317,140.0</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Polished Pumpkin</td>
      <td>127,154.2</td>
      <td>112,328.0</td>
      <td>14,826.2</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Raw Porkchop</td>
      <td>11.2</td>
      <td>7.3</td>
      <td>3.9</td>
      <td>0.35%</td>
    </tr>
    <tr>
      <td>Potato</td>
      <td>3.7</td>
      <td>3.0</td>
      <td>0.7</td>
      <td>0.19%</td>
    </tr>
    <tr>
      <td>Power Crystal</td>
      <td>353,504.8</td>
      <td>321,923.7</td>
      <td>31,581.1</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Precious Pearl</td>
      <td>725,826.0</td>
      <td>324,833.7</td>
      <td>400,992.3</td>
      <td>0.55%</td>
    </tr>
    <tr>
      <td>Precursor Gear</td>
      <td>719,242.0</td>
      <td>679,027.5</td>
      <td>40,214.5</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Premium Flesh</td>
      <td>2.5</td>
      <td>0.1</td>
      <td>2.4</td>
      <td>0.96%</td>
    </tr>
    <tr>
      <td>Prismarine Crystals</td>
      <td>7.1</td>
      <td>4.1</td>
      <td>3.0</td>
      <td>0.42%</td>
    </tr>
    <tr>
      <td>Prismarine Shard</td>
      <td>5.2</td>
      <td>3.5</td>
      <td>1.7</td>
      <td>0.33%</td>
    </tr>
    <tr>
      <td>Protector Dragon Fragment</td>
      <td>7,144.9</td>
      <td>3,437.3</td>
      <td>3,707.6</td>
      <td>0.52%</td>
    </tr>
    <tr>
      <td>Pumpkin</td>
      <td>5.1</td>
      <td>3.9</td>
      <td>1.2</td>
      <td>0.24%</td>
    </tr>
    <tr>
      <td>Pumpkin Guts</td>
      <td>43,797.7</td>
      <td>33,017.2</td>
      <td>10,780.5</td>
      <td>0.25%</td>
    </tr>
    <tr>
      <td>Pure Mithril</td>
      <td>504,021.6</td>
      <td>320,002.0</td>
      <td>184,019.6</td>
      <td>0.37%</td>
    </tr>
    <tr>
      <td>Purple Candy</td>
      <td>8,277.5</td>
      <td>7,954.5</td>
      <td>323.0</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Nether Quartz</td>
      <td>11.6</td>
      <td>9.3</td>
      <td>2.3</td>
      <td>0.2%</td>
    </tr>
    <tr>
      <td>Raw Rabbit</td>
      <td>9.9</td>
      <td>6.5</td>
      <td>3.4</td>
      <td>0.34%</td>
    </tr>
    <tr>
      <td>Rabbit's Foot</td>
      <td>12.0</td>
      <td>6.7</td>
      <td>5.3</td>
      <td>0.44%</td>
    </tr>
    <tr>
      <td>Rabbit Hide</td>
      <td>24.6</td>
      <td>12.9</td>
      <td>11.7</td>
      <td>0.48%</td>
    </tr>
    <tr>
      <td>Rare Diamond</td>
      <td>22.2</td>
      <td>0.0</td>
      <td>22.2</td>
      <td>1.0%</td>
    </tr>
    <tr>
      <td>Raw Beef</td>
      <td>4.2</td>
      <td>3.0</td>
      <td>1.2</td>
      <td>0.29%</td>
    </tr>
    <tr>
      <td>Raw Chicken</td>
      <td>7.8</td>
      <td>4.5</td>
      <td>3.3</td>
      <td>0.42%</td>
    </tr>
    <tr>
      <td>Raw Fish</td>
      <td>15.5</td>
      <td>13.8</td>
      <td>1.7</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Raw Salmon</td>
      <td>10.5</td>
      <td>7.9</td>
      <td>2.6</td>
      <td>0.25%</td>
    </tr>
    <tr>
      <td>Clownfish</td>
      <td>20.1</td>
      <td>16.7</td>
      <td>3.4</td>
      <td>0.17%</td>
    </tr>
    <tr>
      <td>Pufferfish</td>
      <td>15.9</td>
      <td>11.7</td>
      <td>4.2</td>
      <td>0.26%</td>
    </tr>
    <tr>
      <td>Raw Soulflow</td>
      <td>94.9</td>
      <td>53.2</td>
      <td>41.7</td>
      <td>0.44%</td>
    </tr>
    <tr>
      <td>Reaper Pepper</td>
      <td>109,999,999.0</td>
      <td>8,520,271.8</td>
      <td>101,479,727.2</td>
      <td>0.92%</td>
    </tr>
    <tr>
      <td>Recombobulator 3000</td>
      <td>6,009,538.0</td>
      <td>5,856,048.7</td>
      <td>153,489.3</td>
      <td>0.03%</td>
    </tr>
    <tr>
      <td>Redstone</td>
      <td>1.5</td>
      <td>0.9</td>
      <td>0.6</td>
      <td>0.4%</td>
    </tr>
    <tr>
      <td>Red Gift</td>
      <td>44,518.2</td>
      <td>41,020.7</td>
      <td>3,497.5</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Red Mushroom</td>
      <td>8,914.9</td>
      <td>13.3</td>
      <td>8,901.6</td>
      <td>1.0%</td>
    </tr>
    <tr>
      <td>Red Nose</td>
      <td>246.8</td>
      <td>1.3</td>
      <td>245.5</td>
      <td>0.99%</td>
    </tr>
    <tr>
      <td>Red Scarf</td>
      <td>316,999.6</td>
      <td>48,237.2</td>
      <td>268,762.4</td>
      <td>0.85%</td>
    </tr>
    <tr>
      <td>Refined Amber</td>
      <td>1,115,255.2</td>
      <td>849,256.3</td>
      <td>265,998.9</td>
      <td>0.24%</td>
    </tr>
    <tr>
      <td>Refined Diamond</td>
      <td>466,042.0</td>
      <td>436,440.6</td>
      <td>29,601.4</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Refined Mineral</td>
      <td>25,561.3</td>
      <td>24,541.6</td>
      <td>1,019.7</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Refined Mithril</td>
      <td>300,756.5</td>
      <td>279,725.2</td>
      <td>21,031.3</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Refined Titanium</td>
      <td>329,453.2</td>
      <td>294,798.8</td>
      <td>34,654.4</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Revenant Flesh</td>
      <td>4.5</td>
      <td>1.4</td>
      <td>3.1</td>
      <td>0.69%</td>
    </tr>
    <tr>
      <td>Revenant Viscera</td>
      <td>39,714.8</td>
      <td>37,083.3</td>
      <td>2,631.5</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Rock Candy</td>
      <td>70,000.0</td>
      <td>42,056.9</td>
      <td>27,943.1</td>
      <td>0.4%</td>
    </tr>
    <tr>
      <td>Rock Gemstone</td>
      <td>849,000.0</td>
      <td>573,953.3</td>
      <td>275,046.7</td>
      <td>0.32%</td>
    </tr>
    <tr>
      <td>Rotten Flesh</td>
      <td>6.1</td>
      <td>3.4</td>
      <td>2.7</td>
      <td>0.44%</td>
    </tr>
    <tr>
      <td>Rough Amber Gemstone</td>
      <td>3.8</td>
      <td>2.3</td>
      <td>1.5</td>
      <td>0.39%</td>
    </tr>
    <tr>
      <td>Rough Amethyst Gemstone</td>
      <td>3.4</td>
      <td>1.5</td>
      <td>1.9</td>
      <td>0.56%</td>
    </tr>
    <tr>
      <td>Rough Jade Gemstone</td>
      <td>3.0</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>0.33%</td>
    </tr>
    <tr>
      <td>Rough Jasper Gemstone</td>
      <td>12.7</td>
      <td>4.7</td>
      <td>8.0</td>
      <td>0.63%</td>
    </tr>
    <tr>
      <td>Rough Opal Gemstone</td>
      <td>20.3</td>
      <td>3.0</td>
      <td>17.3</td>
      <td>0.85%</td>
    </tr>
    <tr>
      <td>Rough Ruby Gemstone</td>
      <td>2.9</td>
      <td>2.2</td>
      <td>0.7</td>
      <td>0.24%</td>
    </tr>
    <tr>
      <td>Rough Sapphire Gemstone</td>
      <td>3.3</td>
      <td>2.1</td>
      <td>1.2</td>
      <td>0.36%</td>
    </tr>
    <tr>
      <td>Rough Topaz Gemstone</td>
      <td>3.0</td>
      <td>1.7</td>
      <td>1.3</td>
      <td>0.43%</td>
    </tr>
    <tr>
      <td>Sadan's Brooch</td>
      <td>304,536.3</td>
      <td>129,127.9</td>
      <td>175,408.4</td>
      <td>0.58%</td>
    </tr>
    <tr>
      <td>Salmon Opal</td>
      <td>10,945.3</td>
      <td>706.4</td>
      <td>10,238.9</td>
      <td>0.94%</td>
    </tr>
    <tr>
      <td>Sand</td>
      <td>5.1</td>
      <td>2.7</td>
      <td>2.4</td>
      <td>0.47%</td>
    </tr>
    <tr>
      <td>Red Sand</td>
      <td>13.6</td>
      <td>6.8</td>
      <td>6.8</td>
      <td>0.5%</td>
    </tr>
    <tr>
      <td>Scorched Books</td>
      <td>6,204,996.9</td>
      <td>5,562,794.5</td>
      <td>642,202.4</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Searing Stone</td>
      <td>894,688.5</td>
      <td>707,478.1</td>
      <td>187,210.4</td>
      <td>0.21%</td>
    </tr>
    <tr>
      <td>Seeds</td>
      <td>0.5</td>
      <td>0.4</td>
      <td>0.1</td>
      <td>0.2%</td>
    </tr>
    <tr>
      <td>Shark Bait</td>
      <td>47.5</td>
      <td>9.2</td>
      <td>38.3</td>
      <td>0.81%</td>
    </tr>
    <tr>
      <td>Shark Fin</td>
      <td>290.6</td>
      <td>84.1</td>
      <td>206.5</td>
      <td>0.71%</td>
    </tr>
    <tr>
      <td>Shiny Prism</td>
      <td>591,310.7</td>
      <td>228,002.6</td>
      <td>363,308.1</td>
      <td>0.61%</td>
    </tr>
    <tr>
      <td>Slimeball</td>
      <td>22.1</td>
      <td>18.0</td>
      <td>4.1</td>
      <td>0.19%</td>
    </tr>
    <tr>
      <td>Sludge Juice</td>
      <td>1,201.7</td>
      <td>1,106.3</td>
      <td>95.4</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Snowball</td>
      <td>0.9</td>
      <td>0.4</td>
      <td>0.5</td>
      <td>0.56%</td>
    </tr>
    <tr>
      <td>Snow Block</td>
      <td>8.3</td>
      <td>3.7</td>
      <td>4.6</td>
      <td>0.55%</td>
    </tr>
    <tr>
      <td>Soulflow</td>
      <td>9,804.4</td>
      <td>9,002.4</td>
      <td>802.0</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Soul Fragment</td>
      <td>1,600,675.2</td>
      <td>1,129,813.7</td>
      <td>470,861.5</td>
      <td>0.29%</td>
    </tr>
    <tr>
      <td>Soul String</td>
      <td>8,423.5</td>
      <td>7,305.6</td>
      <td>1,117.9</td>
      <td>0.13%</td>
    </tr>
    <tr>
      <td>Spider Eye</td>
      <td>6.4</td>
      <td>2.9</td>
      <td>3.5</td>
      <td>0.55%</td>
    </tr>
    <tr>
      <td>Spiked Bait</td>
      <td>72.0</td>
      <td>11.2</td>
      <td>60.8</td>
      <td>0.84%</td>
    </tr>
    <tr>
      <td>Spirit Stone</td>
      <td>1,483,272.6</td>
      <td>789,410.8</td>
      <td>693,861.8</td>
      <td>0.47%</td>
    </tr>
    <tr>
      <td>Sponge</td>
      <td>51.4</td>
      <td>48.0</td>
      <td>3.4</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Spooky Bait</td>
      <td>46.9</td>
      <td>23.2</td>
      <td>23.7</td>
      <td>0.51%</td>
    </tr>
    <tr>
      <td>Spooky Shard</td>
      <td>4,997.0</td>
      <td>3,105.3</td>
      <td>1,891.7</td>
      <td>0.38%</td>
    </tr>
    <tr>
      <td>Starfall</td>
      <td>1,144.3</td>
      <td>1,015.1</td>
      <td>129.2</td>
      <td>0.11%</td>
    </tr>
    <tr>
      <td>Stock of Stonks</td>
      <td>524,458.8</td>
      <td>506,716.9</td>
      <td>17,741.9</td>
      <td>0.03%</td>
    </tr>
    <tr>
      <td>String</td>
      <td>6.7</td>
      <td>4.7</td>
      <td>2.0</td>
      <td>0.3%</td>
    </tr>
    <tr>
      <td>Strong Dragon Fragment</td>
      <td>20,665.8</td>
      <td>18,632.5</td>
      <td>2,033.3</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Sugar Cane</td>
      <td>3.0</td>
      <td>1.5</td>
      <td>1.5</td>
      <td>0.5%</td>
    </tr>
    <tr>
      <td>Gunpowder</td>
      <td>14.0</td>
      <td>9.7</td>
      <td>4.3</td>
      <td>0.31%</td>
    </tr>
    <tr>
      <td>Sulphur</td>
      <td>10.4</td>
      <td>9.1</td>
      <td>1.3</td>
      <td>0.12%</td>
    </tr>
    <tr>
      <td>Summoning Eye</td>
      <td>854,405.0</td>
      <td>816,760.3</td>
      <td>37,644.7</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Superior Dragon Fragment</td>
      <td>100,099.7</td>
      <td>96,001.1</td>
      <td>4,098.6</td>
      <td>0.04%</td>
    </tr>
    <tr>
      <td>Super Compactor 3000</td>
      <td>171,444.6</td>
      <td>161,641.0</td>
      <td>9,803.6</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Super Enchanted Egg</td>
      <td>239,752.0</td>
      <td>225,004.9</td>
      <td>14,747.1</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Suspicious Vial</td>
      <td>21,727.0</td>
      <td>1,003.7</td>
      <td>20,723.3</td>
      <td>0.95%</td>
    </tr>
    <tr>
      <td>Tarantula Silk</td>
      <td>143,997.6</td>
      <td>135,000.6</td>
      <td>8,997.0</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Tarantula Web</td>
      <td>35.3</td>
      <td>31.7</td>
      <td>3.6</td>
      <td>0.1%</td>
    </tr>
    <tr>
      <td>Tiger Shark Tooth</td>
      <td>30,159.9</td>
      <td>3,535.5</td>
      <td>26,624.4</td>
      <td>0.88%</td>
    </tr>
    <tr>
      <td>Tightly-Tied Hay Bale</td>
      <td>504,399.2</td>
      <td>400,001.4</td>
      <td>104,397.8</td>
      <td>0.21%</td>
    </tr>
    <tr>
      <td>Titanic Experience Bottle</td>
      <td>338,038.5</td>
      <td>328,006.1</td>
      <td>10,032.4</td>
      <td>0.03%</td>
    </tr>
    <tr>
      <td>Titanium</td>
      <td>93.6</td>
      <td>56.0</td>
      <td>37.6</td>
      <td>0.4%</td>
    </tr>
    <tr>
      <td>Treasurite</td>
      <td>6,738.2</td>
      <td>4,964.9</td>
      <td>1,773.3</td>
      <td>0.26%</td>
    </tr>
    <tr>
      <td>Unstable Dragon Fragment</td>
      <td>2,698.6</td>
      <td>2,284.3</td>
      <td>414.3</td>
      <td>0.15%</td>
    </tr>
    <tr>
      <td>Vitamin Death</td>
      <td>151,338.7</td>
      <td>66,889.4</td>
      <td>84,449.3</td>
      <td>0.56%</td>
    </tr>
    <tr>
      <td>Lily Pad</td>
      <td>144.6</td>
      <td>112.3</td>
      <td>32.3</td>
      <td>0.22%</td>
    </tr>
    <tr>
      <td>Werewolf Skin</td>
      <td>38,324.5</td>
      <td>23,611.9</td>
      <td>14,712.6</td>
      <td>0.38%</td>
    </tr>
    <tr>
      <td>Whale Bait</td>
      <td>1,323.7</td>
      <td>1,117.4</td>
      <td>206.3</td>
      <td>0.16%</td>
    </tr>
    <tr>
      <td>Wheat</td>
      <td>3.5</td>
      <td>2.3</td>
      <td>1.2</td>
      <td>0.34%</td>
    </tr>
    <tr>
      <td>White Gift</td>
      <td>6,297.3</td>
      <td>5,700.5</td>
      <td>596.8</td>
      <td>0.09%</td>
    </tr>
    <tr>
      <td>Wise Dragon Fragment</td>
      <td>23,880.9</td>
      <td>21,879.1</td>
      <td>2,001.8</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Wither Blood</td>
      <td>2,133,332.9</td>
      <td>2,005,333.4</td>
      <td>127,999.5</td>
      <td>0.06%</td>
    </tr>
    <tr>
      <td>Wolf Tooth</td>
      <td>445.5</td>
      <td>412.0</td>
      <td>33.5</td>
      <td>0.08%</td>
    </tr>
    <tr>
      <td>Worm Membrane</td>
      <td>104,256.2</td>
      <td>96,622.0</td>
      <td>7,634.2</td>
      <td>0.07%</td>
    </tr>
    <tr>
      <td>Yoggie</td>
      <td>238.7</td>
      <td>122.7</td>
      <td>116.0</td>
      <td>0.49%</td>
    </tr>
    <tr>
      <td>Young Dragon Fragment</td>
      <td>2,507.4</td>
      <td>2,342.7</td>
      <td>164.7</td>
      <td>0.07%</td>
    </tr>
