<table class="table table-striped" border="1" style="border: 1px solid #000000; border-collapse: collapse;" cellpadding="4" id="data">
  <thead>
    <tr style='text-align: right;'>      <th>ID</th>
      <th>Image</th>
      <th>Name</th>
      <th>Sell Price</th>
      <th>Craft Cost</th>
      <th>Requirements</th>
      <th>Ingredients</th>
      <th>Profit</th>
      <th>Percentage Profit</th>
      <th>Forge Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>BEJEWELED_HANDLE</td>
      <td><img src=https://raw.githubusercontent.com/QuintBrit/images/main/furf/BEJEWELED_HANDLE.png></td>
      <td>Bejeweled Handle</td>
      <td>78,999</td>
      <td>0</td>
      <td>None</td>
      <td>Ingredients: 3x Glacite Jewel (costing 0 coins)</td>
      <td>78,999</td>
      <td>1.0</td>
      <td>1800</td>
    </tr>
    <tr>
      <td>GEMSTONE_DRILL_2</td>
      <td><img src=https://raw.githubusercontent.com/QuintBrit/images/main/furf/GEMSTONE_DRILL_2.png></td>
      <td>Gemstone Drill LT-522</td>
      <td>6,499,000</td>
      <td>0</td>
      <td>None</td>
      <td>Ingredients: 1x Ruby Drill TX-15 (costing 0 coins), 3x Gemstone Mixture (costing 0 coins)</td>
      <td>6,499,000</td>
      <td>1.0</td>
      <td>30</td>
    </tr>
    <tr>
      <td>GEMSTONE_FUEL_TANK</td>
      <td><img src=https://raw.githubusercontent.com/QuintBrit/images/main/furf/GEMSTONE_FUEL_TANK.png></td>
      <td>Gemstone Fuel Tank</td>
      <td>38,900,000</td>
      <td>0</td>
      <td>None</td>
      <td>Ingredients: 1x Titanium-Infused Fuel Tank (costing 0 coins), 30x Control Switch (costing 0 coins), 10x Gemstone Mixture (costing 0 coins)</td>
      <td>38,900,000</td>
      <td>1.0</td>
      <td>100800</td>
    </tr>
    <tr>
      <td>MITHRIL_DRILL_2</td>
      <td><img src=https://raw.githubusercontent.com/QuintBrit/images/main/furf/MITHRIL_DRILL_2.png></td>
      <td>Mithril Drill SX-R326</td>
      <td>14,750,000</td>
      <td>0</td>
      <td>None</td>
      <td>Ingredients: 1x Mithril Drill SX-R226 (costing 0 coins), 10x Golden Plate (costing 0 coins), 2x Mithril Plate (costing 0 coins)</td>
      <td>14,750,000</td>
      <td>1.0</td>
      <td>30</td>
    </tr>
    <tr>
      <td>MITHRIL_DRILL_ENGINE</td>
      <td><img src=https://raw.githubusercontent.com/QuintBrit/images/main/furf/MITHRIL_DRILL_ENGINE.png></td>
      <td>Mithril-Plated Drill Engine</td>
      <td>129,000,000</td>
      <td>0</td>
      <td>None</td>
      <td>Ingredients: 2x Drill Engine (costing 0 coins), 3x Mithril Plate (costing 0 coins)</td>
      <td>129,000,000</td>
      <td>1.0</td>
      <td>54000</td>
    </tr>
    <tr>
      <td>MITHRIL_FUEL_TANK</td>
      <td><img src=https://raw.githubusercontent.com/QuintBrit/images/main/furf/MITHRIL_FUEL_TANK.png></td>
      <td>Mithril-Infused Fuel Tank</td>
      <td>12,900,000</td>
      <td>0</td>
      <td>None</td>
      <td>Ingredients: 3x Mithril Plate (costing 0 coins), 5x Fuel Tank (costing 0 coins)</td>
      <td>12,900,000</td>
      <td>1.0</td>
      <td>36000</td>
    </tr>
